@charset "utf-8";
/* CSS Document */
/*dropdown*/
a.meanmenu-reveal {
	display: none;
}
/* slider container */
.container {
	/* defaults for resposive height container */
	position: relative;
	width: 100%;
	height:50%;
	
	/* 39% being the ratio we are maintaining 
	 * calculated by looking at the image 
	 * ratio: 400/1024 = ~0.39 */
	padding: 0 0 0 0;
}

.iosSlider {
	width: 100%;
	
	/* this height ends up being your maximum height, 
	 * if you want it to scale forever, set it to 
	 * a very high number */
	 height:999px;;
	
}

.iosSlider .slider {
	width: 100%;
	height: 100%;
}

.iosSlider .slider .item {
	float: left;
	
	width: 100%;
}

.iosSlider .slider .item img {
	width: 100%;
	height: auto;
}

/* controls */
.container .prevContainer {
	position: absolute;
	top: 0;
	left: 0;
	width: 100px;
	
	padding: 0 0 19.5% 0;
	z-index: 10;
}

.container .prevContainer .prev {
	position: absolute;
	bottom: -10%;
	left: 0;
	width: 100%;
	height: 20%;
	background: #aaa;
	display:none;
}

.container .nextContainer {
	position: absolute;
	top: 0;
	right: 0;
	width: 100px;
	
	padding: 0 0 19.5% 0;
	z-index: 10;
}

.container .nextContainer .next {
	position: absolute;
	bottom: -10%;
	left: 0;
	width: 100%;
	height: 20%;
	background: #aaa;
	display:none;
}

.container .selectorsBlock {
	position: absolute;
	bottom: 10px;
	width: 100%;
	height: 5%;
}

.container .selectorsBlock .selectors {
	position: relative;
	top: 0;
	left: 0;
	margin: 0 auto;
	width: 30%;
	height: 100%;
}

.container .selectorsBlock .selectors .item {
	position: relative;
	top: 0;
	left: 0;
	float: left;
	width: 16px;
	height: 16px;
	border-radius:20px;
	margin: 0 0 0 5%;
	background: #aaa;
}

.container .selectorsBlock .selectors .selected {
	background: #ffcb05;
}

.container .selectorsBlock .selectors .first {
	margin-left: 0;
}
/*slider produk */
#fiesta_produk_slider
{
	width: 300px;
	margin:0 auto;
	text-align: center;
}

#fiesta_produk_slider a
{
	color: #666;
	font-size: 14px;
	text-decoration: none;
}

#fiesta_produk_slider p span
{
	cursor: pointer;
}

#fiesta_produk_explanation
{
	float: left;
	width: 400px;
	font-size: 14px;
	line-height: 26px;
	padding-top: 15px;
}

#fiesta_produk_explanation h2
{
	color: #d7691c;
	font-weight: normal;
	font-size: 40px;
}
#fiesta_produk_image_slider
{
	width: 300px;
	height: 300px;
	overflow: hidden;
}

#fiesta_produk_slider_inner
{
	width: 900px;
	height: 300px;
}

#fiesta_produk_slider_inner img
{
	float: left;
}

#fiesta_produk_slide_container
{	
	height: 250px;
	width: 640px;
	overflow: hidden;
	margin-left: 65px;
	margin-top: 10px;
	float: left;
}
.explain{
	font-size: 14px;
	line-height: 26px;
	color:#666;
	font-family:Arial, Helvetica, sans-serif;
	margin-bottom:20px;
}
.explain h2{
	color: #d7691c;
	font-weight: normal;
	
}
.explain ul {
	margin-left:30px;
}
.explain ul li{
	list-style:decimal;
	margin-bottom:5px;
}
/* when under viewport size, .mean-container is added to body */
.image_kontak {
	text-align:center;
}
.image_kontak img{
	width:150px;;
}
p.big {
	font-size: 50px;
	margin: 10px 0;
	color: #004795;
	font-weight: bold;
	line-height:50px;
	
}
.fb{
	float:left;
	margin-right:10px;
}
.twit{
	float: left;
	position: relative;
	margin-top:10px;
	margin-bottom:10px;
}
p.small2 {
	font-weight: bold;
	color: #004795;
	font-size: 20px;
	margin-top: 17px;
	margin-bottom:0px;
}
p.small2 a{
	font-weight: bold;
	color: #004795;
	font-size: 20px;
	margin-top: 17px;
	margin-bottom:0px;
}
.block_button{
	margin-bottom:20px;
}
.content_kontak{
	margin-top: 10px;
	text-align: center;
}
.yellow2 {
	color: #ffcb05;
	font-family:Arial, Helvetica, sans-serif;
}
.store{
	margin-left:25px;
	color:#666666;
}
.store h4{
	color:#666666;
	font-weight:bold;
}
.store span{
	display:block;
	font-weight:bold;
}
.mean-container .mean-bar { 
float: left;
width: 100%;
position: absolute;
top:20px;
padding: 4px 0;
min-height: 42px;
z-index: 999999;
}
.mean-container a.meanmenu-reveal {
width: 22px;
height: 22px;
padding: 13px 13px 11px 13px;
position: absolute;
top: 0;
right: 0;
left:10px!important;
cursor: pointer;
color: #fff;
text-decoration: none;
font-size: 16px;
text-indent: -9999em;
line-height: 22px;
font-size: 1px;
display: block;
font-family: Arial, Helvetica, sans-serif;
font-weight: 700;
background:url(/assets/mobile/nav-icon-large.png) no-repeat;
}
.mean-container a.meanmenu-reveal span {
display: block;
background: #fff;
height: 3px;
margin-top: 3px;
}
.mean-container .mean-nav { 
float: left;
width: 100%;
background: #000;
margin-top: 41px;
}
.mean-container .mean-nav ul {
padding: 0;
margin: 0;
width: 100%;
list-style-type: none;
}
.mean-container .mean-nav ul li {
position: relative;
float: left;
width: 100%;
}
.mean-container .mean-nav ul li a {
display: block;
float: left;
width: 100%;
padding:10px;
margin: 0;
text-align: left;
color:#ffcb05;
font-family:Arial, Helvetica, sans-serif;
border-bottom: 1px solid #ffcb05;
text-decoration: none;
}
.mean-container .mean-nav ul li:first-child a{
	border-top: 1px solid #ffcb05;
}
.mean-container .mean-nav ul li li a {
width: 80%;
padding: 1em 10%;
border-bottom: 1px solid #f1f1f1;
border-bottom: 1px solid rgba(255,255,255,0.25);
opacity: 0.75; 
filter: alpha(opacity=75);
text-shadow: none !important;
visibility: visible;
}
.mean-container .mean-nav ul li.mean-last a {
border-bottom: none;
margin-bottom: 0;
}
.mean-container .mean-nav ul li li li a {
width: 70%;
padding: 1em 15%;
}
.mean-container .mean-nav ul li li li li a {
width: 60%;
padding: 1em 20%;
}
.mean-container .mean-nav ul li li li li li a {
width: 50%;
padding: 1em 25%;
}
.mean-container .mean-nav ul li a:hover { 
background: #252525;
background: rgba(255,255,255,0.1); 
}
.mean-container .mean-nav ul li a.mean-expand {
width: 26px;
height: 26px;
border: none !important;
padding: 12px !important;
text-align: center;
position: absolute;
right: 0;
top: 0;
z-index: 2;
font-weight: 700;
}
.mean-container .mean-nav ul li a.mean-expand:hover {
background: none;
}
.mean-container .mean-push { 
float: left;
width: 100%;
padding: 0;
margin: 0;
clear: both; 
}
.mean-nav .wrapper {
width: 100%;
padding: 0;
margin: 0;
}


/*=================header======================*/

#head{
	background:#000;
	min-height:65px;
	padding:8px 0px;
}

.logo{
	text-align:center;
}
.logo img{
	width:70px;
}

#content{
	margin-top:-14px; 
}
#content2{
	margin-top:20px;
}
.judul_produk{
	color: #d7691c;
	font-weight: normal;
}
ul.menu_list{
	padding:0px 20px;
	text-align:center;
	margin-bottom:10px;
}

ul.menu_list li{
	border-radius:5px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	position:relative;
	display:inline-block;
	width: 48%;
	margin:4px 2px 4px 2px;
}
.share{
	color:#666666;
}
.caption_menu{
	position:absolute;
	bottom:0px;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	font-style:normal;
	color:#fff;
	width:100%;
	text-align:center;
	padding:2px;
	font-size:14px;
	background:url(/assets/mobile/bg-caption.png);
	-webkit-border-radius: 0px 0px 5px 5px;
        border-radius: 0px 0px 5px 5px;
}
.image_menu{
	position:relative;
}

.image_menu img{
	border-radius:5px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
}
.fiesta_konsultasi_right{
	float:left;
}
.phone{
	background:url(/assets/mobile/phone_bg.png) 0 0 no-repeat;
	background-size:15%;
	color:#cc7e00;
	font-size:24px;
	padding:10px;	
} /*must change for responsive*/
.phone a{
	color:#cc7e00;
	text-decoration: none;
}
.panel.box a{
	color: #004795;
}
.phone h2{
	font-size:40px;
	font-weight:bold;
	font-style:normal;
	color:#cc7e00!important;
	text-shadow:0px 5px 1px #ffda50;
	font-family:Arial, Helvetica, sans-serif;
} /*must change for responsive*/
.mail{
	background:url(/assets/mobile/mail_bg.png) 0 0 no-repeat;
	color:#cc7e00;
	font-size:24px;
	padding:13px;	
	display:block;
} /*must change for responsive*/
.mail h2{
	font-size:40px;
	font-weight:bold;
	font-style:normal;
	color:#cc7e00!important;
	text-shadow:0px 5px 1px #ffda50;
	font-family:Arial, Helvetica, sans-serif;
} /*must change for responsive*/

h2.news_title{
	color:#ffcb05;
	font-family:Arial, Helvetica, sans-serif;
	background:url(/assets/mobile/news_icon.png) 0 0 no-repeat;
	padding:5px 0 5px 60px;
	background-size:auto;
	
}
h2.news_blog{
	color:#ffcb05;
	font-family:Arial, Helvetica, sans-serif;
	background:url(/assets/mobile/blog_bg.png) 0 0 no-repeat;
	padding:5px 0 5px 60px;
	
}
h2.about{
	color:#ffcb05;
	font-family:Arial, Helvetica, sans-serif;
	background:url(/assets/mobile/about.png) 0 10px no-repeat;
	padding:0px 0 5px 60px;
	
}

h2.about span{
	background:url(/assets/mobile/arrow.png) no-repeat right 2px;
	padding:0 30px 10px 0;
}
h2.about span a{
	color:#ffcb05;
}
h2.store_icon{
	color:#ffcb05;
	font-family:Arial, Helvetica, sans-serif;
	background:url(/assets/mobile/store.png) 8px 0px no-repeat;
	padding:0px 0 19px 60px;
}

h2.store_icon span{
	background:url(/assets/mobile/arrow.png) no-repeat right 6px;
	padding:0 30px 10px 0;
}
h2.store_icon span a{
	color:#ffcb05;
}
.content_aware{
	border:2px dashed #ffcb05;
	border-radius:10px;
	text-align:center;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	padding:40px;
}
.content_aware span{
	display:block;
	font-size:18px;
	color:#666666;
	font-weight:normal;
	font-family:Arial, Helvetica, sans-serif;
	margin-top:30px;
}


.panel.box{
	background: #ffffff; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjMwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9Ijk5JSIgc3RvcC1jb2xvcj0iI2ZhZmFmYSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
	background: -moz-linear-gradient(top,  #ffffff 0%, #ffffff 30%, #fafafa 99%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(30%,#ffffff), color-stop(99%,#fafafa)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffffff 0%,#ffffff 30%,#fafafa 99%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffffff 0%,#ffffff 30%,#fafafa 99%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffffff 0%,#ffffff 30%,#fafafa 99%); /* IE10+ */
	background: linear-gradient(to bottom,  #ffffff 0%,#ffffff 30%,#fafafa 99%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#fafafa',GradientType=0 ); /* IE6-8 */
	border:none;
	-moz-box-shadow: 0 0 9px 0 #e0dfdf;
	-webkit-box-shadow: 0 0 9px 0 #e0dfdf;
	box-shadow: 0 0 9px 0 #e0dfdf;
	color:#004795;
	font-size:26px;
	font-weight:bold;
	font-family:Arial, Helvetica, sans-serif;
	line-height:32px;
}

.extra{
	float:left;
	width:100%;
}
.image_blog{
	float:left;
	margin-right:20px;
}
h6.gray{
	font-size:20px;
	color:#666666;
	margin-top:15px;
	font-family:Arial, Helvetica, sans-serif;
}
.content_aware a{
	margin:10px;
	position: relative;
	top: 18px;
}
/*tentang page*/
#fiesta_tentang_content {
	font-size: 15px;
	margin-top:50px;
	line-height: 22px;
	margin-bottom: 50px;
	line-height: 28px;
	font-family:Arial, Helvetica, sans-serif;
	color: #666;
}
.blog_content{
	font-size: 15px;
	margin-top:10px;
	line-height: 22px;
	line-height: 28px;
	font-family:Arial, Helvetica, sans-serif;
	color: #666;
}
#fiesta_tentang_content h1{
	color: #ffcb05;
	font-size: 24px;
	margin: 20px 0;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
}
.image_page_wraper{
	margin-top:30px;
}
.image_page_wraper h1{
	color: #ffcb05;
	font-size: 24px;
	margin: 20px 0;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	
}
.image_page img{
	border-radius:10px;
	-webkit-border-radius:10px;
}
.image_page{
	margin-bottom:10px;
}
h2.other{
	color:#666666;
	font-size:24px;
font-family: Arial, Helvetica, sans-serif;
padding: 5px 0 5px 12px;
}
.blue{
	color:#004795;
	font-size:26px;
}
.konsultasi{
	margin-bottom:20px;
	float:left;
}
.resep{
	color:#666666;
	font-size: 15px;
	margin-top: 20px;
	line-height: 22px;
	margin-bottom: 20px;
	line-height: 28px;
	font-family: Arial, Helvetica, sans-serif;
	color: #666;
}

.cara {
	padding-left: 33px;
}

.komposisi {
	padding-left: 33px;	
}

.top_konsultasi {
	float:left;
}
#fiesta_konsultasi_right table tr td, 
#fiesta_kontak_left table tr td
{
	height: 0px;
	vertical-align: top;
}
#fiesta_konsultasi_right table tr td, 
 strong{
	font-size:18px;
	color:#999999;
}
input.fiesta_input_text {
	background: #eeeeee;
	border: none;
	padding: 13px 10px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	color:#999999;
	font-size:18px;
}
textarea.fiesta_input_text {
	background: #eeeeee;
	border: none;
	padding: 10px;
	resize: none;
	margin-bottom: 7px;
	height: 150px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	color: #999999;
	font-size: 18px;
}
.image_konsultasi{
	float:left;
	margin-right:20px;
}
.kontent_konsultasi{
	color:#666666;
	font-family:Arial, Helvetica, sans-serif;
	line-height:25px;
}
.kontent_konsultasi span{
	color:#999;
	font-weight:bold;
	
}
input.fiesta_konsultasi_btn {
	background: #ed1c24;
	font-family:Arial, Helvetica, sans-serif;
	color: white;
	text-decoration: none;
	padding: 15px 145px;
	font-size: 18px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	border: none;
	cursor:pointer;
}
/*}*/
/*responsive VIEW extra =====================*/

@media only screen and (min-width: 480px) and (max-width: 767px)  {
	.image_blog img{
		width:70%;
	}
	.panel.box {
		font-size:20px;	
	}
	
	.image_blog {
		margin-right:-30px;
	}
	h6.gray {
		font-size:16px;
	}
	.content_aware img{
		width:20%;
	}
	.mail h2{
		font-size:20px;
		text-shadow: 0px 2px 1px #ffda50;
	}
	.mail{
		background-size:12%;
		background-position:122px 23px;
		padding-left:50px;
	}
	.phone{
		background-size:15%;
		font-size:18px;
		padding-left:45px;
		background-position:0px 0px;
	}
	.phone h2{
		font-size:34px;
	}
	
}

@media only screen and (min-width: 768px) {
	
	#content{
		margin-top:10px;
	}
	.iosSlider{
		height:585px;
	}	
	.mail h2{
		font-size:20px;
		text-shadow: 0px 2px 1px #ffda50;
		position:relative;
		top:4px;
		left:15px;
	}
	.mail{
		background-size:10%;
		background-position: 185px 23px;
		padding:28px;
	}
	.phone{
		background-size:11%;
		font-size:18px;
		padding-left:45px;
		background-position:177px 11px;
	}
	.phone h2{
		font-size:34px;
		position:relative;
		top:10px;
	}
	.image_blog img{
		width:80%;
	}
	.image_blog {
		margin-right:0px;
	}
	.phone span{
		position:relative;
		top:10px;
	}
}

@media only screen and (max-width: 767px) {
	.mail h2{
		font-size:20px;
		text-shadow: 0px 2px 1px #ffda50;
		top: 2px;
		left: 19px;
		position:relative;
	}
	.mail{
		background-size:12%;
		background-position:118px 20px;
		padding:27px;
	}
	.iosSlider{
		height:405px;
	}	
	.container .selectorsBlock{
		bottom:33px;
	}
	.phone{
		background-size:14%;
		font-size:18px;
		padding-left:45px;
		background-position: 110px 4px;
	}
	.phone span{
		position:relative;
		top:5px;
	}
	.phone h2{
		font-size:34px;
		position:relative;
		top:5px;
	}
	h2.news_title {
		padding: 9px 0 15px 60px;
		background-position: 10px 1px;
	}
	h2.news_blog {
		padding: 12px 0 12px 60px;
	}
	h2.about{
		padding: 15px 0 17px 60px;
	}
	.content_aware a {
		margin: 30px;
	}
	.image_konsultasi img{
		width:241px;
	}
}
@media only screen and (min-width: 480px) and (max-width: 767px)  {
	.phone{
		background-size:14%;
		font-size:18px;
		padding-left:45px;
		background-position: 110px 4px;
	}
	.image_blog img{
		width:70%;
	}
	.panel.box {
		font-size:20px;	
	}
	.image_blog {
		margin-right:-30px;
	}
	h6.gray {
		font-size:16px;
	}
	.content_aware img{
		width:20%;
	}
	.mail h2{
		font-size:20px;
		text-shadow: 0px 2px 1px #ffda50;
	}
	.mail{
		background-size:12%;
		background-position:122px 23px;
		padding-left:50px;
	}
	
	.phone h2{
		font-size:34px;
	}
	
}

@media only screen and (max-width: 479px) {
	.iosSlider {
		height:250px;
	}
	.phone{
		background-size: 20%;
		font-size: 15px;
		padding-left: 55px;
		background-position: 12px 5px;
	}
	#content{
	margin-top:10px;
	}

	.phone span{
		top: 4px;
		position: relative;
	}
	.phone h2{
		font-size:20px;
		position:relative;
		top:5px;
		text-shadow: 0px 2px 1px #ffda50;
	}
	.mail h2{
		font-size:16px;
		text-shadow: 0px 2px 1px #ffda50;
		padding:5px;
		position: relative;
		top: 3px;
	}
	.mail{
		background-size: 18%;
		background-position: 16px 13px;
		padding: 14px 0 14px 20px;
}
	
	.panel.box{
		font-size:18px;
	}
	.image_blog img{
		width:50%;
		
	}
	.image_blog2 img{
		width:50%;
		
	}
	.image_blog{
		margin-right:-85px;
		width:70%; 
	}
	.image_blog2{
		margin-right:-65px; 
	}
	.content_blog{
		font-size:13px;
		line-height:20px;
	}
	h6.gray {
		font-size: 13px;
	}
	.content_aware img{
		width:20%;
	}
	.content_aware span{
		font-size:12px;
		font-weight:bold;
	}
	.content_aware {
		padding:20px;
	}
	
	h2.news_title {
		background:url(/assets/mobile/news_icon_small.png) 11px 3px no-repeat;
		padding-left: 50px;
		font-size:24px;
		
	}
	h2.news_blog {
		background:url(/assets/mobile/blog_bg_small.png) 11px 7px no-repeat;
		padding-left: 50px;
		font-size:24px;
	}
	h2.about{
		background:url(/assets/mobile/about_small.png) 11px 18px  no-repeat;
		padding-left: 50px;
		font-size:24px;
	}
	h2.about span {
		background:url(/assets/mobile/arrow_small.png) right 8px no-repeat;
		padding-right:25px;
	}
	h2.store_icon{
		background:url(/assets/mobile/small_store.png) 11px 2px  no-repeat;
		padding-left: 50px;
		font-size:24px;
	}
	h2.store_icon span {
		background:url(/assets/mobile/arrow_small.png) right 8px no-repeat;
		padding-right:25px;
	}
	ul.menu_list li {
		width:47%;
	}
	p.big {
		font-size:40px;
	}
	.store p{
		font-size:14px;
	}
	ul.komposisi li span{
		font-size:14px;
	}
	ul.cara li{
		font-size:14px;
	}
	.image_konsultasi img {
		width: 100px;
		margin-right:10px;
}
.kontent_konsultasi{
	font-size:12px;
}
}

.panel.callout {
	border: none;
}