<section id="content2">
	 <div class="row">
    	<div class="small-12 columns">
        	<div class="flexslider">
                  <ul class="slides">
                  	<% @products.each do |product| %>
                    <li>
                    	<div id="produk-<%= product.id %>">
                      		<%= image_tag product.main_image.url %>
                      	</div>
                    </li>
                    <script>
					$('#produk-<%= product.id %>').click(function() {
						var imageslide = '<%= image_tag product.product_image.url(:medium) %>';
							imageslide += '<%= image_tag product.ingredient_image.url(:medium) %>';
							imageslide += '<%= image_tag product.cook_image.url(:medium) %>';
						$('#fiesta_produk_slider_inner').html(imageslide);
						
						$('.judul-produk').text('<%= product.title %>');
						$('.explain').html('<%= product.description.html_safe %>');
						
						$('#fiesta_scroll_produk').css({'color':'#004795','font-weight':'bold'});
			        	$('#fiesta_scroll_komposisi').css({'color':'#666','font-weight':'normal'});
			        	$('#fiesta_scroll_cara').css({'color':'#666','font-weight':'normal'});
			        	$('#fiesta_produk_slider_inner').animate({marginLeft:'0px'});
					});
					</script>
                	<% end %>
                  </ul>
        </div>
             
 
            </div>
	</div>
        <div class="row">
        	<div class="small-12 columns">
            	<h2 class="judul_produk">
                	<%= @products[0].title %>
                </h2>
            </div>
        </div>
    	<div class="row">
        	<div class="small-12 columns">
            	<div id="fiesta_produk_slider">
        		<div id="fiesta_produk_image_slider">
        			<div id="fiesta_produk_slider_inner">
                    	<%= image_tag @products[0].product_image.url(:medium) %>
						<%= image_tag @products[0].ingredient_image.url(:medium) %>
						<%= image_tag @products[0].cook_image.url(:medium) %>
        				
        			</div>	
        		</div>
        		<p><span id="fiesta_scroll_produk" style="color:#004795; font-weight:bold;">Produk</span> / <span id="fiesta_scroll_komposisi">Komposisi</span> / <span id="fiesta_scroll_cara">Cara Memasak</span></p>
        	</div>
             <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script type="text/javascript">
        	$(document).ready(function() {
		        
		        $('#fiesta_scroll_produk').click(function(){
		        	$('#fiesta_scroll_produk').css({'color':'#004795','font-weight':'bold'});
		        	$('#fiesta_scroll_komposisi').css({'color':'#666','font-weight':'normal'});
		        	$('#fiesta_scroll_cara').css({'color':'#666','font-weight':'normal'});
		        	$('#fiesta_produk_slider_inner').animate({marginLeft:'0px'});
		        });
		        
		        $('#fiesta_scroll_komposisi').click(function(){
		        	$('#fiesta_scroll_komposisi').css({'color':'#004795','font-weight':'bold'});
		        	$('#fiesta_scroll_produk').css({'color':'#666','font-weight':'normal'});
		        	$('#fiesta_scroll_cara').css({'color':'#666','font-weight':'normal'});
		        	$('#fiesta_produk_slider_inner').animate({marginLeft:'-300px'});
		        });
		        
		        $('#fiesta_scroll_cara').click(function(){
		        	$('#fiesta_scroll_cara').css({'color':'#004795','font-weight':'bold'});
		        	$('#fiesta_scroll_produk').css({'color':'#666','font-weight':'normal'});
		        	$('#fiesta_scroll_komposisi').css({'color':'#666','font-weight':'normal'});
		        	$('#fiesta_produk_slider_inner').animate({marginLeft:'-600px'});
		        });
		        
		        var list_size = $("#fiesta_produk_slide_boxes li").size();
		        console.log(list_size);
		        
		        $('#fiesta_produk_slide_boxes li:first').before($('#fiesta_produk_slide_boxes li:last')); 
		        
		        $('#fiesta_arrow_produk_right').click(function(){
		            var item_width = ($('#fiesta_produk_slide_boxes li').outerWidth() + 10);
		            var left_indent = parseInt($('#fiesta_produk_slide_boxes').css('left')) - item_width;
		            
		            $('#fiesta_produk_slide_boxes:not(:animated)').animate({'left' : left_indent},500,function(){    
		                $('#fiesta_produk_slide_boxes li:last').after($('#fiesta_produk_slide_boxes li:first')); 
		                $('#fiesta_produk_slide_boxes').css({'left' : '-180px'});
		            }); 
		        });
		        
		        $('#fiesta_arrow_produk_left').click(function(){
		            var item_width = ($('#fiesta_produk_slide_boxes li').outerWidth() + 10);
		            var left_indent = parseInt($('#fiesta_produk_slide_boxes').css('left')) + item_width;
		            
		            $('#fiesta_produk_slide_boxes:not(:animated)').animate({'left' : left_indent},500,function(){    
			            $('#fiesta_produk_slide_boxes li:first').before($('#fiesta_produk_slide_boxes li:last')); 
		            	$('#fiesta_produk_slide_boxes').css({'left' : '-180px'});
		            });
		            
		        });
		  	});
        </script>
            </div>
        </div>
       
        <div class="row">
        	<div class="large-12 columns">
            	<div class="explain">
            		<%= @products[0].description.html_safe %>	
				</div>
            </div>
        </div>
         </div>
     <div class="row">
 		<div class="large-12 columns">
    		<div class="panel box radius">
        		<div class="content_aware">
                	<a href="http://www.facebook.com/pages/Fiesta-Seafood/112121445663808" target="_blank"><img src="/assets/mobile/fb.png"></a>
                    <a href="http://twitter.com/fiestaseafood" target="_blank"><img src="/assets/mobile/twit.png"></a>
                    <span>
                    	Copyright © 2013 Fiesta Seafood.
                    </span> 
                </div>
            </div>
        </div>
 	</div>
    </section>
    
	<script>
		$(window).load(function(){
		  $('.flexslider').flexslider({
		    animation: "slide",
		    animationLoop: false,
		    itemWidth: 210,
		    itemMargin: 5,
		    minItems: 3,
		    maxItems: 4,
		    start: function(slider){
		      $('body').removeClass('loading');
		    }
		  });
		});
	</script>
