<%= form_for [:manage, @gallery], :html => { :class => "form-horizontal", :multipart => true } do |f| %>
  <% if @gallery.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@gallery.errors.count, "error") %> prohibited this gallery from being saved:</h2>

      <ul>
      <% @gallery.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :user_id, :class => "control-label" %>
    <div class="controls">
    <%= f.text_field :user_id %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :title, :class => "control-label" %>
    <div class="controls">
    <%= f.text_field :title %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :like, :class => "control-label" %>
    <div class="controls">
    <%= f.number_field :like %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :image, :class => "control-label" %>
    <div class="controls">
    <%= f.file_field :image %>
    <%= image_tag @gallery.image.url(:thumb) %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :approved, :class => "control-label" %>
    <div class="controls">
    <%= f.text_field :approved %>
    <span>type 1 to publish it to the user.</span>
    </div>
  </div>
  <div class="actions">
    <%= f.submit "Save", :class => "btn btn-warning" %>
  </div>
<% end %>
