<div class="container-fluid">
	<div class="row-fluid">
		<div class="span12">
			<div class="widget wred">
				<div class="widget-head">
	            	<div class="pull-left">Show</div>
	              	<div class="widget-icons pull-right">
	                	<a href="#" class="wminimize"><i class="icon-chevron-up"></i></a> 
	                	<a href="#" class="wclose"><i class="icon-remove"></i></a>
	              	</div>
	              <div class="clearfix"></div>
	            </div>
				<div class="widget-content">
					<table class="table table-bordered">
						<thead>
						  <tr>
						    <th>User</th>
						    <th>Title</th>
						    <th>Image</th>
						    <th>Like</th>
						    <th>Approved</th>
						    <th></th>
						    <th></th>
						    <th></th>
						  </tr>
					  	</thead>
						<tbody>
						<% @galleries.each do |gallery| %>
						  <tr>
						    <td><%= gallery.user_id %></td>
						    <td><%= gallery.title %></td>
						    <td>
						    	<% unless gallery.image.url(:thumb).empty? %>
							   		<%= image_tag gallery.image.url(:thumb) %>
							    <% end %>
						    </td>
						    <td><%= gallery.like %></td>
						    <td>
						    	<% if gallery.approved === 1 %>
						    	Approved
						    	<% else %>
						    	Pending
						    	<% end %>
						    </td>
						    <td><%= link_to 'Show', manage_gallery_path(gallery), :class => "btn btn-mini btn-success" %></td>
						    <td><%= link_to 'Edit', edit_manage_gallery_path(gallery), :class => "btn btn-mini btn-warning" %></td>
						    <td><%= link_to 'Destroy', manage_gallery_path(gallery), method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-mini btn-danger" %></td>
						  </tr>
						<% end %>
						</tbody>
					</table>
				</div>
				<div class="widget-foot">
					<%= link_to 'New Gallery', new_manage_gallery_path %>
				</div>
			</div>
		</div>
	</div>
</div>
