<div class="container-fluid">
	<div class="row-fluid">
		<div class="span12">
			<div class="widget wviolet">
				<div class="widget-head">
          			<div class="widget-icons pull-right">
                		<a href="#" class="wminimize"><i class="icon-chevron-up"></i></a> 
                		<a href="#" class="wclose"><i class="icon-remove"></i></a>
              		</div>
                  	<div class="clearfix"></div>
                </div>
                <div class="widget-content">
					<p id="notice"><%= notice %></p>
					
					<p>
					  <b>User:</b>
					  <%= @gallery.user_id %>
					</p>
					
					<p>
					  <b>Title:</b>
					  <%= @gallery.title %>
					</p>
					
					<p>
					  <b>Like:</b>
					  <%= @gallery.like %>
					</p>
					
					<p>
					  <b>Product cook:</b>
					  <%= image_tag @gallery.image.url(:thumb) %>
					</p>
				</div>
				<div class="widget_foot">
					<%= link_to 'Edit', edit_manage_gallery_path(@gallery) %> |
					<%= link_to 'Back', manage_galleries_path %>
				</div>
			</div>
    	</div>
	</div>
</div>
