<div id="fiesta_right_side">
	<h2>Register</h2>
	
	<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
	  <%= devise_error_messages! %>
	  <table>
	  	<tbody>
	  		<tr>
			  <td><%= f.text_field :name, :autofocus => true, :placeholder => "Fullname" %></td>
			</tr>
		  	<tr>
			  <td><%= f.email_field :email, :placeholder => "Email" %></td>
			</tr>
			<tr>		
			  <td><%= f.password_field :password, :placeholder => "Password" %></td>
			</tr>
			<tr>
			  <td><%= f.password_field :password_confirmation, :placeholder => "Password confirmation" %></td>
			</tr>
			<tr>
			  <td><%= f.submit "Register", :class => "fiesta_regis_btn" %></td>
			</tr>
			<tr>
				<td><%= render "devise/shared/links" %></td>
			</tr>
		</tbody>
	  </table>
	<% end %>
</div>

<div class="clearfix"></div>
