<section id="content">
    	<div class="row">
        	<div class="small-12 columns">
            	<div class="image_page_wraper">
                	<h1>Kontak</h1>
                  
                </div>
            </div>
        </div>
        
        <div class="row">
        	<div class="small-12 columns">
            	<div class="image_kontak">
                	<img src="/assets/mobile/phone.png">
                </div>
                <div class="content_kontak">
                	<h4 class="yellow2">Toll Free Costumer Services</h4>
                        <p class="big">0800-1-cpp-cpp</p>
                        <p class="small2"><a href="tel://62-800-1-277-277">(0800-1-277-277)</a></p>
                        <div class="block_button">	
            	<p class="small2">(Senin - Jumat 08.00 - 17.00)</p>
               
            </div>
                </div>
        	</div>
       </div>     
        
     <div class="row">
 		<div class="large-12 columns">
    		<div class="panel box radius">
        		<div class="content_aware">
                	<a href="http://www.facebook.com/pages/Fiesta-Seafood/112121445663808" target="_blank"><img src="/assets/mobile/fb.png"></a>
                    <a href="http://twitter.com/fiestaseafood" target="_blank"><img src="/assets/mobile/twit.png"></a>
                    <span>
                    	Copyright © 2013 Fiesta Seafood.
                    </span> 
                </div>
            </div>
        </div>
 	</div>
</section>