<%=
content_for :title do
	"Konsultasi | Fiesta Seafood"
end
%>
<div id="fiesta_right_side">
	<h1>KONSULTASI </h1>
	<div id="fiesta_konsultasi_left">
		<%= image_tag "doktor.png" %>
        <div class="profil">
        	<a href="#" id="pop">
            	<%= image_tag "profil.png" %>
            </a>                 
        </div>
        
         <div id="overlay_form" style="display:none">
        	<p class="top_popup">
            	DR. Elvira Syamsir
            </p>
            <div class="conten_popup">                  	
                <div class="left_content">
                <ul>RIWAYAT PENDIDIKAN:
                   <li> BSc - Teknologi Pangan, IPB </li>
                    <li> MSc - Ilmu Pangan, IPB </li>
                    <li> PhD - Ilmu Pangan, IPB </li>
                </ul>    
                </div>
                <div class="right_content">
               <uL> PEKERJAAN:
                        <li>1. Staf Pengajar Departemen Ilmu Dan Teknologi Pangan, Fakultas Teknologi
                        Pertanian,
                        IPB </li>
                        <li>2. Peneliti SEAFAST Center, IPB </li>
                        <li>3. Wakil Kepala Laboratorium Departemen Ilmu dan Teknologi Pangan, IPB </li>
                        <li>4. Redaksi / Kontributor Ahli Majalah Kulinologi Indonesia </li>
                        </uL>
                </div>
            </div>
            <a href="#" id="close" ><%= image_tag "close.png" %></a>
        </div>  
   
    			<p class="fiesta_bersama"><span>Bersama</span></p>
		<h2>DR. Elvira Syamsir</h2>
		<p>Silakan masukkan pertanyaan atau berkonsultasi seputar topik makanan untuk kesehatan dengan pakarnya langsung <br> <strong>DR. Elvira Syamsir</strong>.</p>
	</div>
	<div id="fiesta_konsultasi_right">
		<% if flash[:notice] %>
		<p><%= flash[:notice] %></p>
		<% end %>
		<%= form_for @konsultasi, :url => konsultasi_index_path do |form| %>
		<table>
			<tr>
				<td style="width: 150px;"><strong>Nama</strong></td>
				<td>
					<%= form.text_field :name, :class => "fiesta_input_text" %>
				</td>
			</tr>
			<tr>
				<td><strong>Jenis Kelamin</strong></td>
				<td style="vertical-align:middle;">
					<%= form.select(:gender, [['Perempuan', 'perempuan'], ['Laki-laki', 'laki-laki']]) %>
				</td>
			</tr>
			<tr>
				<td><strong>E-mail</strong></td>
				<td>
					<%= form.text_field :email, :class => "fiesta_input_text" %>
				</td>
			</tr>
			<tr>
				<td><strong>Nomor Telepon</strong></td>
				<td>
					<%= form.text_field :phone, :class => "fiesta_input_text" %>
				</td>
			</tr>
			<tr>
				<td><strong>Alamat</strong></td>
				<td>
					<%= form.text_area :address, :class => "fiesta_input_text" %>
				</td>
			</tr>
			<tr>
				<td><strong>Tanggal Lahir</strong></td>
				<td>
					<%= form.text_field :birthdate, :class => "fiesta_input_text", :placeholder => "dd/mm/yyyy" %>
				</td>
			</tr>
			<tr>
				<td><strong>Pertanyaan</strong></td>
				<td>
					<%= form.text_area :message, :class => "fiesta_input_text" %>
				</td>
			</tr>
			<tr>
				<td></td>
				<td style="padding-top: 20px;">
					<%= form.submit "KIRIM", :class => "fiesta_konsultasi_btn" %>
				</td>
			</tr>
		</table>
		<% end %>
	</div>
	<div class="clearfix"></div>
	
</div>