<%=
content_for :title do
	"Produk | Fiesta Seafood"
end
%>
<div id="fiesta_right_side">
	<h1>PRODUK</h1>
	<div id="fiesta_produk_galeri">
		<div id="fiesta_arrow_produk_left"><%= image_tag "fiesta_arrowleft_w.png" %></div>
		<div id="fiesta_produk_slide_container">
			<ul id="fiesta_produk_slide_boxes">
				<% @products.each do |product| %>
				<li>
					<div class="fiesta_produk_list" id="produk-<%= product.id %>">
					<%= image_tag product.main_image.url %>
					<p><span style="color: #b1ba1e;"><%= product.title %></span></p>
					</div>
				</li>
				<script>
					$('#produk-<%= product.id %>').click(function() {
						var imageslide = '<%= image_tag product.product_image.url(:medium) %>';
							imageslide += '<%= image_tag product.ingredient_image.url(:medium) %>';
							imageslide += '<%= image_tag product.cook_image.url(:medium) %>';
						$('#fiesta_produk_slider_inner').html(imageslide);
						
						$('#fiesta_produk_explanation h2').text('<%= product.title %>');
						$('#fiesta_main_description').html('<%= product.description.html_safe %>');
						
						$('#fiesta_scroll_produk').css({'color':'#004795','font-weight':'bold'});
			        	$('#fiesta_scroll_komposisi').css({'color':'#666','font-weight':'normal'});
			        	$('#fiesta_scroll_cara').css({'color':'#666','font-weight':'normal'});
			        	$('#fiesta_produk_slider_inner').animate({marginLeft:'0px'});
					});
				</script>
				<% end %>
			</ul>
		</div>
		<div id="fiesta_arrow_produk_right"><%= image_tag "fiesta_arrowright_w.png" %></div>
		<div class="clearfix"></div>
		
	</div>
	
	<div id="fiesta_produk_slider">
		<div id="fiesta_produk_image_slider">
			<div id="fiesta_produk_slider_inner">
				<%= image_tag @products[0].product_image.url(:medium) %>
				<%= image_tag @products[0].ingredient_image.url(:medium) %>
				<%= image_tag @products[0].cook_image.url(:medium) %>
			</div>	
		</div>
		<p><span id="fiesta_scroll_produk" style="color:#004795; font-weight:bold;">Produk</span> / <span id="fiesta_scroll_komposisi">Komposisi</span> / <span id="fiesta_scroll_cara">Cara Memasak</span></p>
	</div>
	<div id="fiesta_produk_explanation">
		<h2><%= @products[0].title %></h2>
		<div id="fiesta_main_description"><%= @products[0].description.html_safe %></div>
	</div>
	<div class="clearfix"></div>
</div>

<!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
<script type="text/javascript">
	$(document).ready(function() {
		        
        $('#fiesta_scroll_produk').click(function(){
        	$('#fiesta_scroll_produk').css({'color':'#004795','font-weight':'bold'});
        	$('#fiesta_scroll_komposisi').css({'color':'#666','font-weight':'normal'});
        	$('#fiesta_scroll_cara').css({'color':'#666','font-weight':'normal'});
        	$('#fiesta_produk_slider_inner').animate({marginLeft:'0px'});
        });
        
        $('#fiesta_scroll_komposisi').click(function(){
        	$('#fiesta_scroll_komposisi').css({'color':'#004795','font-weight':'bold'});
        	$('#fiesta_scroll_produk').css({'color':'#666','font-weight':'normal'});
        	$('#fiesta_scroll_cara').css({'color':'#666','font-weight':'normal'});
        	$('#fiesta_produk_slider_inner').animate({marginLeft:'-300px'});
        });
        
        $('#fiesta_scroll_cara').click(function(){
        	$('#fiesta_scroll_cara').css({'color':'#004795','font-weight':'bold'});
        	$('#fiesta_scroll_produk').css({'color':'#666','font-weight':'normal'});
        	$('#fiesta_scroll_komposisi').css({'color':'#666','font-weight':'normal'});
        	$('#fiesta_produk_slider_inner').animate({marginLeft:'-600px'});
        });
        
        var list_size = $("#fiesta_produk_slide_boxes li").size();
        console.log(list_size);
        
        $('#fiesta_produk_slide_boxes li:first').before($('#fiesta_produk_slide_boxes li:last')); 
        
        $('#fiesta_arrow_produk_right').click(function(){
            var item_width = ($('#fiesta_produk_slide_boxes li').outerWidth() + 10);
            var left_indent = parseInt($('#fiesta_produk_slide_boxes').css('left')) - item_width;
            
            $('#fiesta_produk_slide_boxes:not(:animated)').animate({'left' : left_indent},500,function(){    
                $('#fiesta_produk_slide_boxes li:last').after($('#fiesta_produk_slide_boxes li:first')); 
                $('#fiesta_produk_slide_boxes').css({'left' : '-180px'});
            }); 
        });
        
        $('#fiesta_arrow_produk_left').click(function(){
            var item_width = ($('#fiesta_produk_slide_boxes li').outerWidth() + 10);
            var left_indent = parseInt($('#fiesta_produk_slide_boxes').css('left')) + item_width;
            
            $('#fiesta_produk_slide_boxes:not(:animated)').animate({'left' : left_indent},500,function(){    
	            $('#fiesta_produk_slide_boxes li:first').before($('#fiesta_produk_slide_boxes li:last')); 
            	$('#fiesta_produk_slide_boxes').css({'left' : '-180px'});
            });
            
        });
  	});
</script>