<%= form_for @recipe, :url => recipes_path, :html => { :multipart => true } do |f| %>
  <% if @recipe.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@recipe.errors.count, "error") %> prohibited this recipe from being saved:</h2>

      <ul>
      <% @recipe.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <table>
	<tr>
		<td class="fiesta_resep"><strong>Your Name</strong></td>
		<td><%= f.text_field :full_name, :class =>"fiesta_input_text", :style => "margin-bottom: 5px;" %></td>
	</tr>
	<tr>
		<td class="fiesta_resep"><strong>Title</strong></td>
		<td><%= f.text_field :title, :class =>"fiesta_input_text" %></td>
	</tr>
	<tr>
		<td class="fiesta_resep"><strong>Upload Photo</strong></td>
		<td style="vertical-align:middle; height: 80px;">
			<%= f.file_field :image %>
			<p><em>(JPG or PNG ; no more than 1 MB)</em></p>
		</td>
	</tr>
	<tr>
		<td class="fiesta_resep"><strong>Description</strong></td>
		<td><%= f.text_area :description, :class => "fiesta_input_text" %></td>
	</tr>
	<tr>
		<td class="fiesta_resep"><strong>Ingredients</strong></td>
		<td><%= f.text_area :ingredient, :class => "fiesta_input_text" %></td>
	</tr>
	<tr>
		<td class="fiesta_resep"><strong>Steps</strong></td>
		<td><%= f.text_area :step, :class => "fiesta_input_text" %></td>
	</tr>
	<tr>
		<td></td>
		<td style="padding-top: 20px;"><%= f.submit "SUBMIT", :class => "fiesta_resep_btn" %></td>
	</tr>
</table>
<% end %>
