<%=
content_for :title do
	"Resep | Fiesta Seafood"
end
%>
<div id="fiesta_right_side">
	<h1>RESEP</h1>
	<div id="fiesta_galeri_content">
		<h2>Kirim resep terbaik kamu kesini!</h2>
		<p>Fiesta Seafood memang merupakan makanan praktis tapi ternyata tidak sedikit juga orang yang memasaknya menggunakan resep favorit sesuai selera masing-masing. Oleh karena itu ayo kirimkan resep favorit kamu kesini agar banyak keluarga Fiesta Seafood yang ketagihan resep rahasia kamu.</p>
		<p class="fiesta_galeri_upload">
			<% if user_signed_in? %>
			<%= link_to 'SUBMIT RECIPE', new_recipe_path, :class => "fiesta_galeri_upload_btn" %>
			<% else %>
			<%= link_to 'SUBMIT RECIPE', '#', :class => "fiesta_galeri_upload_btn", :onclick => "openUpload()" %>
			<% end %>
		</p>
		<h3>ALL RECIPES</h3>
		<table id="fiesta_recipe_list_table">
			<tr>
		<% 
			@recipes.each do |row|
		%>	
				<td class="fiesta_recipe_list_pic">
					<div class="picture_recipe_list">
					<%= link_to((image_tag row.image.url(:small)), recipe_path(row)) %>
					</div>
					<div class="title_recipe_list">
					<%= link_to row.title, recipe_path(row) %>
					</div>
				</td>
		<%
			end 
		%>
			</tr>
			</tr>
		</table>
		<div class="clearfix"></div>
	</div>
</div>

<div class="clearfix"></div>