<%=
content_for :title do
	"Kirim Resep | Fiesta Seafood"
end
%>
<div class="fiesta_container">
	<div id="fiesta_right_side">
		<h1>RESEP</h1>
		<div id="fiesta_resep_submit">
			<%= render 'form' %>
		</div>
		
		<div class="clearfix"></div>
		
	</div>
	
	<div class="clearfix"></div>
</div>
