<%=
content_for :title do
	"#{@recipe.title} | Fiesta Seafood"
end
%>
<div id="fiesta_right_side">
	<h1>RESEP</h1>
	<div id="fiesta_berita_detail">
		<%= image_tag @recipe.image.url(:medium) %>
		<table>
			<tr>
				<td style="width: 50px;"><p><strong>Penilaian</strong></p></td>
				<td>
					<ul class="fiesta_star_rating">
						<li>
							<% if @recipe_rating %>
                            <div data-productid="<%= @recipe.id %>" class="rateit" data-rateit-value="<%= @recipe_rating.rating/5 %>" data-rateit-ispreset="true" data-rateit-readonly="true"></div>
                            <% else %>
                            <div data-productid="<%= @recipe.id %>" class="rateit" data-rateit-value="0" data-rateit-ispreset="true" data-rateit-readonly="true"></div>
                            <% end %>
						</li>
					</ul>
				</td>
			</tr>
		</table>
		<h2><%= @recipe.title %></h2>
		<p><%= @recipe.description.html_safe %></p>
		<p><strong>Komposisi</strong></p>
		<p><%= @recipe.ingredient.html_safe %></p>
		<p><strong>Cara memasak</strong></p>
		<p><%= @recipe.step.html_safe %></p>
		<p><strong>Pendapat kamu tentang resep ini</strong></p>
		<div id="disqus_thread"></div>
		<script type="text/javascript">
	        /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
	        var disqus_shortname = 'fiestaseafood'; // required: replace example with your forum shortname
	
	        /* * * DON'T EDIT BELOW THIS LINE * * */
	        (function() {
	            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
	            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
	            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
	        })();
	    </script>
	    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
	    <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
		<% if user_signed_in? %>
		<table style="margin: 0 auto 0 auto;">
			<tr>
				<td style="padding-top: 5px;"><p><strong>Ayo nilai resep ini &nbsp;&nbsp;&nbsp;</strong></p></td>
				<td>
					<ul class="fiesta_star_rating">
						<li><div data-productid="<%= @recipe.id %>" id="rate-me-now" class="rateit"></div></li>
					</ul>
				</td>
			</tr>
		</table>
		<% else %>
		<table style="margin: 0 auto 0 auto;">
			<tr>
				<td style="padding-top: 5px;"><p><strong>Login dulu sebelum menilai &nbsp;&nbsp;&nbsp;</strong></p></td>
				<td>
					<ul class="fiesta_star_rating">
						<li>
							<% if @recipe_rating %>
                            <div data-productid="<%= @recipe.id %>" class="rateit" data-rateit-value="<%= @recipe_rating.rating/5 %>" data-rateit-ispreset="true" data-rateit-readonly="true"></div>
                            <% else %>
                            <div data-productid="<%= @recipe.id %>" class="rateit" data-rateit-value="0" data-rateit-ispreset="true" data-rateit-readonly="true"></div>
                            <% end %>
						</li>
					</ul>
				</td>
			</tr>
		</table>
		<% end %>
	</div>
	
	<div id="fiesta_berita_list">
		<h1>RESEP POPULER</h1>
		<% @popular_recipe.each do |popular| %>
		<div class="fiesta_resep_list_small">
			<%= image_tag popular.image.url(:medium), :width => "200" %>
			<a href="<%= recipe_path(popular.id) %>"><%= popular.title %></a>
		</div>
		<% end %>
	</div>
	
</div>

<%= javascript_include_tag "jquery.rateit.min", :debug => true %>

<script>
	$('#rate-me-now').rateit({max: 5, step: 1});
	
	$('#rate-me-now').bind('rated reset', function (e) {
		var ri = $(this);
		var value = ri.rateit('value');
		var productID = ri.data('productid');
		
		ri.rateit('readonly', true);
		
		// sent to backend
		$.ajax({
			url: '<%= rating_index_path %>',
			data: { id: productID, value: value },
			type: 'POST',
			success: function(data) {
				console.log(data);
			},
			error: function(jxhr, msg, err) {
				console.log(msg);
			}
		});
	});
</script>
