<%= form_for [:manage, @product], :html => { :class => "form-horizontal", :multipart => true } do |f| %>
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% @product.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="control-group">
    <%= f.label :title, :class => "control-label" %>
    <div class="controls">
    <%= f.text_field :title %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :description, :class => "control-label" %>
    <div class="controls">
    <%= f.text_area :description, :class => "cleditor" %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :main_image, :class => "control-label" %>
    <div class="controls">
    <%= f.file_field :main_image %>
    <%= image_tag @product.main_image.url(:thumb) %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :product_image, :class => "control-label" %>
    <div class="controls">
    <%= f.file_field :product_image %>
    <%= image_tag @product.product_image.url(:thumb) %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :ingredient_image, :class => "control-label" %>
    <div class="controls">
    <%= f.file_field :ingredient_image %>
    <%= image_tag @product.ingredient_image.url(:thumb) %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :cook_image, :class => "control-label" %>
    <div class="controls">
    <%= f.file_field :cook_image %>
    <%= image_tag @product.cook_image.url(:thumb) %>
    </div>
  </div>
  <div class="actions">
    <%= f.submit "Save", :class => "btn btn-warning" %>
  </div>
<% end %>
