<div class="container-fluid">
	<div class="row-fluid">
		<div class="span12">
			<div class="widget wred">
				<div class="widget-head">
	            	<div class="pull-left">Show</div>
	              	<div class="widget-icons pull-right">
	                	<a href="#" class="wminimize"><i class="icon-chevron-up"></i></a> 
	                	<a href="#" class="wclose"><i class="icon-remove"></i></a>
	              	</div>
	              <div class="clearfix"></div>
	            </div>
				<div class="widget-content">
					<table class="table table-bordered">
						<thead>
					  		<tr>
					    		<th>Title</th>
					    		<th>Main image</th>
					    		<th>Product image</th>
					    		<th>Product ingredient</th>
					    		<th>Product cook</th>
					    		<th></th>
					    		<th></th>
					    		<th></th>
					  		</tr>
					  	</thead>
						<tbody>
						<% @products.each do |product| %>
						<tr>
						   	<td><%= product.title %></td>
						    <td><%= image_tag product.main_image.url(:thumb) %></td>
						    <td><%= image_tag product.product_image.url(:thumb) %></td>
						    <td><%= image_tag product.ingredient_image.url(:thumb) %></td>
						    <td><%= image_tag product.cook_image.url(:thumb) %></td>
						    <td><%= link_to 'Show', manage_product_path(product), :class => "btn btn-mini btn-success" %></td>
						    <td><%= link_to 'Edit', edit_manage_product_path(product), :class => "btn btn-mini btn-warning" %></td>
						    <td><%= link_to 'Destroy', manage_product_path(product), method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-mini btn-danger" %></td> 
					  	</tr>
						<% end %>
						</tbody>
					</table>
				</div>
				<div class="widget-foot">
					<%= link_to 'New Product', new_manage_product_path %>	
				</div>
			</div>
		</div>
	</div>
</div>
