<div class="container-fluid">
	<div class="row-fluid">
		<div class="span12">
			<div class="widget wviolet">
				<div class="widget-head">
          			<div class="widget-icons pull-right">
                		<a href="#" class="wminimize"><i class="icon-chevron-up"></i></a> 
                		<a href="#" class="wclose"><i class="icon-remove"></i></a>
              		</div>
                  	<div class="clearfix"></div>
                </div>
                <div class="widget-content">
                	<p id="notice"><%= notice %></p>
					<p>
					  <b>Title:</b>
					  <%= @product.title %>
					</p>
					
					<p>
					  <b>Description:</b>
					  <%= @product.description.html_safe %>
					</p>
					
					<p>
					  <b>Main image:</b>
					  <%= image_tag @product.main_image.url(:thumb) %>
					</p>
					
					<p>
					  <b>Product image:</b>
					  <%= image_tag @product.product_image.url(:thumb) %>
					</p>
					
					<p>
					  <b>Product ingredient:</b>
					  <%= image_tag @product.ingredient_image.url(:thumb) %>
					</p>
					
					<p>
					  <b>Product cook:</b>
					  <%= image_tag @product.cook_image.url(:thumb) %>
					</p>
                </div>
                <div class="widget-foot">
                	<%= link_to 'Edit', edit_manage_product_path(@product) %> |
					<%= link_to 'Back', manage_products_path %>	
            	</div>
           </div>
    	</div>
	</div>
</div>
