<section id="content">
	<div class="row">
    	<div class="small-12 columns">
        	<div class="image_page_wraper">
            	<h1>Gallery</h1>
            </div>
        </div>
    </div>
    <div class="row">
    	<div class="small-12 columns">
        	<h2 class="blue">BreakFiesta</h2>
    		<div class="blog_content">                          
				<p>Hai Famz! Siapa disini yang suka makan Fiesta Seafood di waktu senggang? Pasti banyak banget kan? Jelas, soalnya dengan penyajian yang cepat, Fiesta Seafood memang cocok sekali dikonsumsi sebagai makanan untuk ngemil.</p>
				<p>Nah, melalui galeri ini, kami ingin mengajak Famz untuk mengirimkan foto dari gaya favorit Famz menikmati Fiesta Seafood ketika istiarahat dong. Kami akan menampilkan foto-foto Famz di website ini. Siapa tau, buat salah satu foto akan mendapatkan bingkisan dari Fiesta Seafoood biar makin banyak pilihan menyantap Fiesta Seafood di waktu senggang. Ditunggu ya!</p>
    		</div>
        	<div class="small-12 columns">
        		<div class="fb">
				<script>(function(d, s, id) {
                  var js, fjs = d.getElementsByTagName(s)[0];
                  if (d.getElementById(id)) return;
                  js = d.createElement(s); js.id = id;
                  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
                  fjs.parentNode.insertBefore(js, fjs);
                }(document, 'script', 'facebook-jssdk'));</script>
        		<div class="fb-like" data-href="http://www.facebook.com/pages/Fiesta-Seafood/112121445663808?fref=ts" data-send="false" data-layout="box_count" data-width="450" data-show-faces="false"></div>
            	</div>
        	</div>
    	</div>
	</div>
    <div class="row">
    	<% if @galleries.empty? %>
    		<% @galleries.each do |gal| %>
    		<div class="small-6 columns">
    			<img src="<%= gal.image.url(:small) %>">
    		</div>
    		<% end %>
    	<% else %>
    	<div class="small-12 columns">
    		<p>Belum ada foto diunggah.</p>
    	</div>
    	<% end %>	
    </div>
</section>
