<%=
content_for :title do
	"Berita | Fiesta Seafood"
end
%>
<div id="fiesta_right_side">
	<h1>BERITA</h1>
	<% @wordpress['posts'].each do |post| %>
	<div class="fiesta_berita_block">
		<% if post['post_thumbnail'] %>
		<%= image_tag post['post_thumbnail'], :class => "fiesta_berita_pic", :width => "360" %>
		<% end %>
		<h2><a href="<%= beritum_path(post['post_id']) %>"><%= post['post_title'] %></a></h2>
		<p><strong><%= post['post_date'] %></strong></p>
		<p><%= truncate(post['post_sanitized'], :length => 300, :separator => ' ').html_safe %></p>
	</div>
	<% end %>
</div>

<div class="clearfix"></div>
