<%=
content_for :title do
	"Berita | Fiesta Seafood"
end
%>
<div id="fiesta_right_side">
	<h1>BERITA</h1>
	<div id="fiesta_berita_detail">
		<% @wordpress['posts'].each do |post| %>
		<h2><%= post['post_title'] %></h2>
		<p><span class="fiesta_berita_date"><strong><%= post['post_date'] %></strong></span></p>
		<% if post['post_thumbnail'] %>
		<%= image_tag post['post_thumbnail'], :class => "fiesta_berita_pic", :width => "360" %>
		<% end %>
		<%= post['post_content'].html_safe %>
		<% end %>
	</div>
	
	<div id="fiesta_berita_list">
		<h1>LATEST NEWS</h1>
		<% @latest['posts'].each do |late| %>
		<div class="fiesta_berita_list_small">
			<% if late['post_thumbnail'] %>
			<%= image_tag late['post_thumbnail'], :class => "fiesta_berita_pic", :width => "100" %>
			<% end %>
			<a href="<%= beritum_path(late['post_id']) %>"><%= late['post_title'] %></a>
		</div>
		<% end %>
	</div>
</div>

<div class="clearfix"></div>