<div id="fiesta_right_side">
	<h2>Forgot your password?</h2>

	<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
	  <%= devise_error_messages! %>
	  
	  <table>
	  	<tbody>
	  		<tr>
			  <td><%= f.email_field :email, :autofocus => true %></td>
			</tr>
			<tr>
		  	  <td><%= f.submit "Send me reset password instructions", :class => "fiesta_regis_btn" %></td>
		  	</tr>
	  	</tbody>
	  </table>
	<% end %>
</div>

<%= render "devise/shared/links" %>
<div class="clearfix"></div>
