<div class="container-fluid">

  <!-- Today status. jQuery Sparkline plugin used. -->

  <div class="row-fluid">
    <div class="span12"> 
      <!-- List starts -->
      <ul class="today-datas">

        <!-- List #1 -->
        <li class="bred">
          <!-- Graph -->
          <div class="pull-left"><span id="todayspark1" class="spark"></span></div>
          <!-- Text -->
          <div class="datas-text pull-right"><span class="bold">12,000</span> Visitors/Day</div>

          <div class="clearfix"></div>
        </li>

        <li class="bgreen">
          <!-- Graph -->
          <div class="pull-left"><i class="icon-group"></i></div>
          <!-- Text -->
          <div class="datas-text pull-right"><span class="bold">30,000</span> Members</div>

          <div class="clearfix"></div>
        </li>

        <li class="blightblue">
          <!-- Graph -->
          <div class="pull-left"><span id="todayspark2" class="spark"></span></div>
          <!-- Text -->
          <div class="datas-text pull-right"><span class="bold">15.66%</span> Bounce Rate</div>

          <div class="clearfix"></div>
        </li>

        <li class="bviolet">
          <!-- Graph -->
          <div class="pull-left"><span id="todayspark3" class="spark"></span></div>
          <!-- Text -->
          <div class="datas-text pull-right"><span class="bold">$22,000</span> Total Profit</div>

          <div class="clearfix"></div>
        </li> 
 
              </ul> 
    </div>
  </div> 

</div>