<div id="fiesta_blog_box">
	<div id="fiesta_blog_arrow_left"><%= image_tag "fiesta_arrowleft_b2.png" %></div>
	<div id="fiesta_blog_slide_container">
		<ul id="fiesta_blog_slide_boxes">
			<% @blogs['posts'].each do |post| %>
			<li>
				<div class="fiesta_blog_slide">
					<% unless post['post_thumbnail'].nil? %>
					<a href="<%= post['post_permalink'] %>" style="display:block;">
						<%= post['post_thumbnail_img'].html_safe %>
					</a>
					<% end %>
					<a href="<%= post['post_permalink'] %>"><%= post['post_title'] %></a>
				</div>
			</li>
			<% end %>
		</ul>
	</div>
	<div id="fiesta_blog_arrow_right"><%= image_tag "fiesta_arrowright_b2.png" %></div>
	<div class="clearfix"></div>
</div>