<% unless user_signed_in? %> 
<div id="fiesta_upload_photo" style="height: 100px;">
	<table>
		<tr>
			<td class="fiesta_registration_title">UPLOAD</td>
			<td style="text-align:right;"><a href="#" onclick="closeUpload()"><%= image_tag "fiesta_close_btn.png" %></a></td>
		</tr>
		<tr>
			<td><p>Maaf, Anda belum terdaftar. Silahkan <a href="#" onclick="openSignin()">Sign In</a> atau <a href="#" onclick="openRegister()">Register</a> terlebih dahulu.</p></td>
			<td></td>
		</tr>
	</table>
<% else %>
<div id="fiesta_upload_photo" style="height: 260px;">
	<%= form_tag @gallery, :url => gallery_index_path, :method => "post", :multipart => true do %>
	<table>
		<tr>
			<td class="fiesta_registration_title">UPLOAD PHOTO</td>
			<td style="text-align:right;"><a href="#" onclick="closeUpload()"><%= image_tag "fiesta_close_btn.png" %></a></td>
		</tr>
		<tr>
			<td>
				<p><strong>Account Information</strong></p>
				<p><%= current_user.name %></p>
				<p><%= current_user.email %></p>
			</td>
			<td></td>
		</tr>
		<tr>
			<td><p><strong>Select your photo</strong></p></td>
			<td></td>
		</tr>
		<tr>
			<td><%= text_field_tag :title, nil, :placeholder => 'Photo title' %></td>
			<td></td>
		</tr>
		<tr>
			<td><%= file_field_tag :image, :accept => 'image/png,image/gif,image/jpeg' %></td>
			<td><%= hidden_field_tag :user_id, current_user.id %></td>
		</tr>
		<tr>
			<td><%= submit_tag "Upload", :class => "fiesta_regis_btn" %></td>
			<td></td>
		</tr>
	</table>
	<% end %>
<% end %>
</div>
