<div id="fiesta_registration_box">
	<%= form_tag user_registration_path do %>
	<table>
		<tr>
			<td class="fiesta_registration_title">REGISTER</td>
			<td style="text-align:right;"><a href="#" onclick="closeRegister()"><%= image_tag "fiesta_close_btn.png" %></a></td>
		</tr>
		<tr>
			<td colspan="2"><%= text_field_tag 'user[name]', nil, :class => "fiesta_input_regis", :placeholder => "Full name" %></td>
		</tr>
		<tr>
			<td colspan="2"><%= text_field_tag 'user[email]', nil, :class => "fiesta_input_regis", :placeholder => "Email" %></td>
		</tr>
		<tr>
			<td colspan="2"><%= password_field_tag 'user[password]', nil, :class => "fiesta_input_regis", :placeholder => "Password" %></td>
		</tr>
		<tr>
			<td colspan="2"><%= password_field_tag 'user[password_confirmation]', nil, :class => "fiesta_input_regis", :placeholder => "Confirm Password" %></td>
		</tr>
		<tr>
			<td colspan="2"><%= submit_tag "Register", :class => "fiesta_regis_btn" %></td>
		</tr>
		<tr>
			<td style="text-align: center;" colspan="2">Already Registered? Please <a href="#" onclick="openSignin()">Sign In</a></td>
		</tr>
	</table>
	<% end %>
</div>