<div id="fiesta_signin_box">
	<%= form_tag user_session_path do %>
	<table>
		<tr>
			<td class="fiesta_registration_title">SIGN IN</td>
			<td style="text-align:right;"><a href="#" onclick="closeSignin()"><%= image_tag "fiesta_close_btn.png" %></a></td>
		</tr>
		<tr>
			<td colspan="2"><%= text_field_tag 'user[email]', nil, :class => "fiesta_input_regis", :placeholder => "Email" %></td>
		</tr>
		<tr>
			<td colspan="2"><%= password_field_tag 'user[password]', nil, :class => "fiesta_input_regis", :placeholder => "Password" %></td>
		</tr>
		<tr>
			<td colspan="2"><%= submit_tag "Sign In", :class => "fiesta_regis_btn" %></td>
		</tr>
		<tr>
			<td colspan="2" style="text-align:center;"><a href="<%= new_user_password_path %>">Forgot Password?</a></td>
		</tr>
		<tr>
			<td style="text-align: center;" colspan="2">Not yet registered? Please <a href="#" onclick="openRegister()">Register</a></td>
		</tr>
	</table>
	<% end %>
</div>