		<div class = 'container'>
			
			<div class = 'iosSlider'>
			
				<div class = 'slider'>
					<div class = 'item'>
						<img src="/assets/mobile/ramadhan.jpg" />
					</div>
				</div>
				
				<div class = 'prevContainer'>
					<div class = 'prev'>Prev slide</div>
				</div>
				
				<div class = 'nextContainer'>
					<div class = 'next'>Next slide</div>
				</div>
				
				<!--<div class = 'selectorsBlock'>
				
					<div class = 'selectors'>
						<div class = 'item first selected'></div>
					</div>
					
				</div>-->

			</div>
						
		</div>	
        <script type="text/javascript">
			$(document).ready(function() {
				
				$('.iosSlider').iosSlider({
					snapToChildren: true,
					desktopClickDrag: true,
					keyboardControls: true,
					infiniteSlider: false,
					navNextSelector: $('.next'),
					navPrevSelector: $('.prev'),
					navSlideSelector: $('.selectors .item'),
					onSlideChange: slideChange
				});
				
			}); 
			
			function slideChange(args) {
				$('.selectors .item').removeClass('selected');
				$('.selectors .item:eq(' + (args.currentSlideNumber - 1) + ')').addClass('selected');
			}
		</script>	

	<section id="content">    	       	           
			 
            
      
        <div class="row">
        	<div class="large-12 columns">
            	<div class="row">
                	<ul class="menu_list">                   	
                    	<li>
                        	
                        	<div class="image_menu">
                            	<a href="<%= produk_index_path %>">
                            	<img src="/assets/mobile/shrimp shumai.jpg">
                              <div class="caption_menu"> 
                            	Produk
                              </div> 
                              </a> 
                            </div>
                                                  
                        </li>
          				<li>
                        	
                        	<div class="image_menu">
                            	<a href="<%= new_konsultasi_path %>">
                            	<img src="/assets/mobile/elvira.jpg">
                              <div class="caption_menu">
                            	Konsultasi
                              </div> 
                              </a>  
                            </div>
                                                 
                        </li>
                        <li>
                        	
                        	<div class="image_menu">
                            	<a href="<%= gallery_index_path %>">
                            	<img src="/assets/mobile/photo2.jpg">
                              <div class="caption_menu">
                            	Galeri
                              </div>
                              	 </a>   
                            </div>
                                                
                        </li>
          				<li>
                        	
                        	<div class="image_menu">
                            <a href="<%= recipes_path %>">
                            	<img src="/assets/mobile/ebifry.jpg">
                              <div class="caption_menu">
                            	Resep
                              </div>
                             </a>    
                            </div>
                                                 
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
        	<div class="large-12 columns">
        		<div class="panel callout radius">
                	
                	<div class="phone">
                    	<a href="tel://62-800-1-277-277">
                    		<span>Toll Free Costumer Service</span>
                        	<h2>0800-1-277-277</h2>
                        </a>
                    </div>
                    
        		</div>
            </div>    
        </div>
         <div class="row">
        	<div class="large-12 columns">
        		<div class="panel callout radius">
                	
                	<a class="mail" href="mailto:Info@fiestaseafood.com">
                    	
                        <h2>Info@fiestaseafood.com</h2>
                        
                   </a>
                    
        		</div>
            </div>    
        </div>
        <div class="row">
        	<div class="large-12 columns">
            	<h2 class="news_title">
                	Berita
                </h2>
            </div>
        </div>
        <div class="row">
        	<div class="large-12 columns">
            	<% @wordpress['posts'].each do |post| %>
            	<div class="panel box radius">
                	<a href="<%= beritum_path(post['post_id']) %>">
                    <%= post['post_title'] %>
                    </a>
                </div>
                <% end %>
                
            </div>
        </div>
        <div class="row">
        	<div class="large-12 columns">
            	<h2 class="news_blog">
                	Blog
                </h2>
            </div>
        </div>
         <div class="row">
        	<div class="large-12 columns">
            	
            	<% @blogs['posts'].each do |post| %>
	        	<div class="panel box radius extra">
	            	<a href="<%= post['post_permalink'] %>">
	            	<% unless post['post_thumbnail'].nil? %>
	            	<div class="image_blog">
	                	<%= post['post_thumbnail_img'].html_safe %>
	                	<h6 class="gray">By <%= post['post_author'] %></h6>
	                </div>
	                <% end %>
	                <div class="content_blog">
	                	 <%= post['post_title'] %>
	                </div>
	                </a>
	            </div>
	           	<% end %>
               
            </div>
         </div>
          <div class="row">
        	<div class="large-12 columns">
            	<h2 class="about">
                	<span> <a href="<%= about_index_path %>">  Tentang </a></span>
                </h2>
            </div>
        </div>
         <div class="row">
        	<div class="large-12 columns">
            	<h2 class="store_icon">
                	<span> <a href="<%= lokasi_path %>"> Lokasi  Store </a></span>
                </h2>
            </div>
        </div>
         <div class="row">
         	<div class="large-12 columns">
            	<div class="panel box radius">
                	<div class="content_aware">
                    	<a href="http://www.facebook.com/pages/Fiesta-Seafood/112121445663808" target="_blank"><img src="/assets/mobile/fb.png"></a>
                        <a href="http://twitter.com/fiestaseafood" target="_blank"><img src="/assets/mobile/twit.png"></a>
                        <span>
                        	Copyright © 2013 Fiesta Seafood.
                        </span> 
                    </div>
                </div>
            </div>
         </div>
    </section>