<%=
content_for :title do
	"Home | Fiesta Seafood"
end
%>

<div class="clearfix"></div>
    	
<div id="fiesta_main_balloon">
	<div id="shadow_fiesta_main_balloon"></div>
</div>
<div id="fiesta_main_slide">
	<div id="fiesta_arrow_left"><%= image_tag "fiesta_arrowleft_b.png" %></div>
	<div id="fiesta_main_slide_container">
		<ul id="fiesta_main_slide_boxes">
			<li>
				<div class="fiesta_slide_even">
					<div class="fiesta_slide_inner_left">
						<a href="http://meetchefarnold2.fiestaseafood.com" target="_blank">Segera Dapatkan Tiket Cooking Demo</a>
						<p><span>With Chef Arnold</span></p>
					</div>
					<div class="fiesta_slide_inner_right">
						<%= image_tag "meetchef2.jpg" %>
					</div>
					<div class="clearfix"></div>
				</div>
			</li>
			<li>
				<div class="fiesta_slide_even">
					<div class="fiesta_slide_inner_left">
						<a href="http://fiestaseafood.com/berita/135">Kampanye Ayo Makan <br />Seafood</a>
					</div>
					<div class="fiesta_slide_inner_right">
						<%= image_tag "image_press.png", :style => "position: relative; right: 35px; top: -25px;" %>
					</div>
					<div class="clearfix"></div>
				</div>
			</li>
			<li>
				<div class="fiesta_slide_even">
					<div class="fiesta_slide_inner_left">
						<a href="http://blog.fiestaseafood.com/2013/06/manfaat-seafood-untuk-kesehatan/">Manfaat Seafood</a>
						<p><span>Untuk Kesehatan</span></p>
					</div>
					<div class="fiesta_slide_inner_right"><%= image_tag "sep_seafood.png" %></div>
					<div class="clearfix"></div>
				</div>
			</li>
			<li>
				<div class="fiesta_slide_even">
					<div class="fiesta_slide_inner_left">
						<a href="<%= produk_index_path %>">Fiesta Seafood</a>
						<p><span>Produk olahan udang terbaik</span></p>
					</div>
					<div class="fiesta_slide_inner_right"><%= image_tag "fiesta_slide_produk.png", :style => "margin-left: 20px;" %></div>
					<div class="clearfix"></div>
				</div>
			</li>
			<li>
				<div class="fiesta_slide_even">
					<div class="fiesta_slide_inner_left">
						<a href="http://www.kisahseafoodramadhan.com/" target="_blank">Pengumuman Pemenang</a>
						<p><span>Kisah Seafood Ramadhan</span></p>
					</div>
					<div class="fiesta_slide_inner_right"><%= image_tag "sep_ramadhan.png", :style => "margin-left: 7px;" %></div>
					<div class="clearfix"></div>
				</div>
			</li>
			<li>
				<div class="fiesta_slide_even">
					<div class="fiesta_slide_inner_left">
						<a href="https://www.facebook.com/media/set/?set=a.131881290354490.1073741831.112121445663808&type=3" target="_blank">#MeetChefArnold</a>
						<p><span>Kejutan dari Fiesta Seafood</span></p>
					</div>
					<div class="fiesta_slide_inner_right"><%= image_tag "sep_arnold.png", :style => "margin-left: 7px;" %></div>
					<div class="clearfix"></div>
				</div>
			</li>
			<li>
				<div class="fiesta_slide_even">
					<div class="fiesta_slide_inner_left">
						<a href="<%= gallery_index_path %>">#Breakfiesta</a>
						<p><span>Kirim foto kamu makan Fiesta Seafood yuk</span></p>
					</div>
					<div class="fiesta_slide_inner_right"><%= image_tag "fiesta_slide_galeri.png" %></div>
					<div class="clearfix"></div>
				</div>
			</li>
			<li>
				<div class="fiesta_slide_even">
					<div class="fiesta_slide_inner_left">
						<a href="<%= recipes_path %>">Resep favorit</a>
						<p><span>Temukan resep Fiesta Seafood terbaik disini</span></p>
					</div>
					<div class="fiesta_slide_inner_right"><%= image_tag "fiesta_slide_resep.png" %></div>
					<div class="clearfix"></div>
				</div>
			</li>
			<li>
				<div class="fiesta_slide_even">
					<div class="fiesta_slide_inner_left">
						<a href="http://blog.fiestaseafood.com">Blog</a>
						<p><span>Kumpulan cerita Fiesta Seafood</span></p>
					</div>
					<div class="fiesta_slide_inner_right"><%= image_tag "fiesta_slide_blog.png" %></div>
					<div class="clearfix"></div>
				</div>
			</li>
		</ul>
	</div>
	<div id="fiesta_arrow_right"><%= image_tag "fiesta_arrowright_b.png" %></div>
	<div class="clearfix"></div>
</div>