<section id="content">
    	<div class="row">
        	<div class="small-12 columns">
            	<div class="image_page_wraper">
                	<h1>Kontak</h1>
                  
                </div>
            </div>
        </div>
        
        <div class="row">
        	<div class="small-12 columns">
            	<div class="konsultasi">
                	<div class="top_konsultasi">
                    	<div class="small-4 columns">
                        	<img src="/assets/mobile/dokter.png">
                        </div>
                        <div class="kontent_konsultasi small-8 columns">
                        	Silakan masukkan pertanyaan atau berkonsultasi seputar topik makanan untuk kesehatan dengan pakarnya langsung <span>DR. Elvira Syamsir</span>. 
                        </div>
                    </div>
                    <div class="bottom_konsultasi">
                    	<div id="fiesta_konsultasi_right">
                    		<% if flash[:notice] %>
								<p><%= flash[:notice] %></p>
							<% end %>
							<%= form_for @konsultasi, :url => konsultasi_index_path do |form| %>
    			<table>
    				<tr>
    					
    					<td><%= form.text_field :name, :class => "fiesta_input_text", :placeholder => "Nama" %></td>
    				</tr>
    				<tr>
    					
    					<td style="vertical-align:middle;">
    					<strong>Jenis Kelamin</strong>: <%= form.select(:gender, [['Perempuan', 'perempuan'], ['Laki-laki', 'laki-laki']]) %>
        				</td>
    				</tr>
    				<tr>
    					
    					<td><%= form.text_field :email, :class => "fiesta_input_text", :placeholder => "Email" %></td>
    				</tr>
    				<tr>
    					<td><%= form.text_field :phone, :class => "fiesta_input_text", :placeholder => "Nomor Telepon" %></td>
    				</tr>
    				<tr>
    					
    					<td><%= form.text_area :address, :class => "fiesta_input_text", :placeholder => "Alamat" %></td>
                       
    				</tr>
    				<tr>
    					<td style="vertical-align: middle;">
    						<%= form.text_field :birthdate, :class => "fiesta_input_text", :placeholder => "Tanggal Lahir (dd/mm/yyyy)" %>
    					</td>
    				</tr>
    				<tr>
    		
    					<td><%= form.text_area :message, :class => "fiesta_input_text", :placeholder => "Pertanyaan" %></td>
    				</tr>
    				<tr>
    					
    					<td style="padding-top: 20px; text-align:center"><%= form.submit "KIRIM", :class => "fiesta_konsultasi_btn" %></td>
    				</tr>
    			</table>
    			<% end %>
    		</div>
    		<div class="clearfix"></div>
                    </div>
                </div>
        	</div>
       </div>     
        
     <div class="row">
 		<div class="large-12 columns">
    		<div class="panel box radius">
        		<div class="content_aware">
                	<a href="http://www.facebook.com/pages/Fiesta-Seafood/112121445663808" target="_blank"><img src="/assets/mobile/fb.png"></a>
                    <a href="http://twitter.com/fiestaseafood" target="_blank"><img src="/assets/mobile/twit.png"></a>
                    <span>
                    	Copyright © 2013 Fiesta Seafood.
                    </span> 
                </div>
            </div>
        </div>
 	</div>
</section>