<section id="content">
	<div class="row">
    	<div class="small-12 columns">
        	<div class="image_page_wraper">
            	<h1>Resep</h1>
                <div class="image_page">
            		<img src="/assets/mobile/ebifry.jpg">
                </div>
            </div>
        </div>
    </div>
        
    <div class="row">
    	<div class="large-12 columns">
    		<% 
				@recipes.each do |row|
			%>
        	<a href="<%= recipe_path(row) %>">
        		<div class="panel box radius">
                    <%= row.title %>
                </div>
            </a>
            <% end %>
        </div>
    </div>
    <div class="row">
 		<div class="large-12 columns">
    		<div class="panel box radius">
        		<div class="content_aware">
                	<a href="http://www.facebook.com/pages/Fiesta-Seafood/112121445663808" target="_blank"><img src="/assets/mobile/fb.png"></a>
                    <a href="http://twitter.com/fiestaseafood" target="_blank"><img src="/assets/mobile/twit.png"></a>
                    <span>
                    	Copyright © 2013 Fiesta Seafood.
                    </span> 
                </div>
            </div>
        </div>
 	</div>
</section>