<section id="content">
    	<div class="row">
        	<div class="small-12 columns">
            	<div class="image_page_wraper">
                	<h1><%= @recipe.title %></h1>
                    <div class="image_page">
                		<%= image_tag @recipe.image.url(:medium) %>
                    </div>
                    <p class="resep">
                    	<%= @recipe.description.html_safe %>
                    </p>
                </div>
            </div>
        </div>
        
    
        <div class="row">
        	<div class="large-12 columns">
            	<h2 class="other">
                	Komposisi
                </h2>
            </div>
        </div>
         <div class="row">
        	<div class="large-12 columns komposisi">
            	<%= @recipe.ingredient.html_safe %>   
            </div>
        </div>
         </div>
         <div class="row">
        	<div class="large-12 columns">
            	<h2 class="other">
                	Cara Memasak
                </h2>
            </div>
        </div>
         <div class="row">
        	<div class="large-12 columns cara">
            	<%= @recipe.step.html_safe %>
            </div>
        </div>
        <div class="row">
        	<div class="small-12 columns">
            <h4 class="share"> Share </h4>
            </div>
        </div>
         <div class="row">
 		<div class="large-12 columns">
    		<div class="panel box radius">
        		<div class="content_aware">
                	<a href="http://www.facebook.com/pages/Fiesta-Seafood/112121445663808" target="_blank"><img src="/assets/mobile/fb.png"></a>
                    <a href="http://twitter.com/fiestaseafood" target="_blank"><img src="/assets/mobile/twit.png"></a>
                    <span>
                    	Copyright © 2013 Fiesta Seafood.
                    </span> 
                </div>
            </div>
        </div>
 	</div>
    </section>