<%=
content_for :title do
	"Tentang Kami | Fiesta Seafood"
end
%>
<section id="content">
	<div class="row">
		<div class="large-12 columns">
    		<div id="fiesta_tentang_content">
                
         		<h1>Tentang</h1>
                
				<p>Fiesta Seafood adalah produk seafood olahan yang di produksi oleh CP Prima beserta anak perusahaannya (CP Bahari), yang merupakan perusahaan aqualculture pertama di dunia yang terintegrasi dari hulu ke hilir. Menggunakan udang dan ikan yang 100% bebas antibiotik karena berasal dari tambak sendiri sebagai bahan utamanya, Fiesta Seafood menghadirkan seafood asli dengan citarasa seafood segar untuk keluarga Indonesia.</p>
				<p>Sebagai produk olahan, Fiesta Seafood tidak mengandung bahan pengawet dan warna pada produk pun berasal dari bahan-bahan alami, yaitu, warna merah dari udang dan warna hijau berasal dari bahan sayuran yang terkandung pada produk.</p>
				<p>Proses pengolahan produk Fiesta Seafood dilakukan secara higienis dengan quality control yang ketat di setiap lini produksi.  Produk Fiesta Seafood juga didinginkan di suhu -45C sehingga bakteri mati dan proses distribusinya pun dilakukan di suhu -18C sepanjang perjalanan sampai ke toko.</p>
				<p>Fiesta Seafood sangat baik dikonsumsi oleh keluarga Indonesia baik di pagi hari maupun di saat senggang karena sifatnya yang praktis. Dengan kandungan Omega-6, Omega-9 dan asam amino essensial yang sangat penting untuk kesehatan tubuh, menjadikan Fiesta Seafood sebagai produk yang aman dikonsumi oleh semua orang.</p>
			</div>
        </div>
    </div>
    <div class="row">
 		<div class="large-12 columns">
    		<div class="panel box radius">
        		<div class="content_aware">
                	<a href="http://www.facebook.com/pages/Fiesta-Seafood/112121445663808" target="_blank"><img src="/assets/mobile/fb.png"></a>
                    <a href="http://twitter.com/fiestaseafood" target="_blank"><img src="/assets/mobile/twit.png"></a>
                    <span>
                    	Copyright © 2013 Fiesta Seafood.
                    </span> 
                </div>
            </div>
        </div>
 	</div>
       
</section>