<section id="content">
    <div class="row">
    	<div class="large-12 columns">
        	<h2 class="other">
            	Blog
            </h2>
        </div>
    </div>
     <div class="row">
    	<div class="large-12 columns">
        	<% @blogs['posts'].each do |post| %>
        	<div class="panel box radius extra">
            	<a href="<%= post['post_permalink'] %>">
            	<% unless post['post_thumbnail'].nil? %>
            	<div class="image_blog">
                	<%= post['post_thumbnail_img'].html_safe %>
                	<h6 class="gray">By <%= post['post_author'] %></h6>
                </div>
                <% end %>
                <div class="content_blog">
                	 <%= post['post_title'] %>
                </div>
                </a>
            </div>
           	<% end %>
        </div>
     </div>
     <div class="row">
 		<div class="large-12 columns">
    		<div class="panel box radius">
        		<div class="content_aware">
                	<a href="http://www.facebook.com/pages/Fiesta-Seafood/112121445663808" target="_blank"><img src="/assets/mobile/fb.png"></a>
                    <a href="http://twitter.com/fiestaseafood" target="_blank"><img src="/assets/mobile/twit.png"></a>
                    <span>
                    	Copyright © 2013 Fiesta Seafood.
                    </span> 
                </div>
            </div>
        </div>
 	</div>
</section>