<%=
content_for :title do
	"Galeri | Fiesta Seafood"
end
%>
<div id="fiesta_right_side">
	<h1>GALERI</h1>
	<div id="fiesta_galeri_balloon">
		<img src="<%= image_path "fiesta_galeri_pic.png" %>" />
	</div>
	<div id="fiesta_galeri_content">
		<h2>BREAKFIESTA</h2>
		<p>Hai Famz! Siapa disini yang suka makan Fiesta Seafood di waktu senggang? Pasti banyak banget kan? Jelas, soalnya dengan penyajian yang cepat, Fiesta Seafood memang cocok sekali dikonsumsi sebagai makanan untuk ngemil.</p>
		<p>Nah, melalui galeri ini, kami ingin mengajak Famz untuk mengirimkan foto dari gaya favorit Famz menikmati Fiesta Seafood ketika istiarahat dong. Kami akan menampilkan foto-foto Famz di website ini. Siapa tau, buat salah satu foto akan mendapatkan bingkisan dari Fiesta Seafoood biar makin banyak pilihan menyantap Fiesta Seafood di waktu senggang. Ditunggu ya!</p>
		<p class="fiesta_galeri_steps"><strong>Please follow these steps..</strong></p>
		<img src="<%= image_path "fiesta_galeri_steps.png" %>" style="margin-bottom: 40px;"/>
		<p class="fiesta_galeri_upload"><a href="#" onclick="openUpload()" class="fiesta_galeri_upload_btn">UPLOAD NOW!</a></p>
	</div>
	
	<div id="fiesta_galeri_main" rolw="main">

      <ul id="fiesta_tiles">
        <!-- These are our grid blocks -->
        <% @galleries.each do |gal| %>
        <li>
        	<a rel="example_group" href="<%= gal.image.url(:medium) %>" title="">
        	<img src="<%= gal.image.url(:small) %>">
        	</a>
        	<table>
        		<tr>
        			<td class="fiesta_tiles_left">by <a href="#">Fiesta</a></td>
        			<td class="fiesta_tiles_right">
        				<a href="#"><img src="<%= asset_path 'fiesta_love.png' %>" style="display: inline; margin-top: 7px;"/> Like</a>
        			</td>
        		</tr>
        	</table>
        </li>
        <% end %>
        <!-- End of grid blocks -->
      </ul>

    </div>
</div>
<%= javascript_include_tag "jquery.wookmark", :debug => true %>
<%= javascript_include_tag "fancybox/jquery.mousewheel-3.0.4.pack", :debug => true %>
<%= javascript_include_tag "fancybox/jquery.fancybox-1.3.4", :debug => true %>
<%= stylesheet_link_tag "jquery.fancybox-1.3.4", :debug => true %>
<!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
<script type="text/javascript">

	$(document).ready(new function() {
      // Prepare layout options.
      
      $("a[rel=example_group]").fancybox({
			'transitionIn'		: 'none',
			'transitionOut'		: 'none',
			'titlePosition' 	: 'over'
		});
      
      var options = {
        autoResize: true, // This will auto-update the layout when the browser window is resized.
        container: $('#fiesta_galeri_main'), // Optional, used for some extra CSS styling
        offset: 2, // Optional, the distance between grid items
        itemWidth: 260 // Optional, the width of a grid item
      };

      // Get a reference to your grid items.
      var handler = $('#fiesta_tiles li');

      // Call the layout function.
      handler.wookmark(options);

    });
</script>
