<%=
content_for :title do
	"Store Location | Fiesta Seafood"
end
%>
<div id="fiesta_right_side">
	<h1>Store Location</h1>
	<div id="fiesta_tentang_content">
		Modern market yang menjual produk Fiesta &amp; Champ Seafood.
		
		<table>
			<thead>
				<tr>
					<th>Customer Group</th>
					<th>Area</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>ADA Group</td>
					<td>Semarang</td>
				</tr>
				<tr>
					<td>Carrefour Express</td>
					<td>Jakarta</td>
				</tr>
				<tr>
					<td></td>
					<td>Banten</td>
				</tr>
				<tr>
					<td></td>
					<td>Surabaya</td>
				</tr>
				<tr>
					<td></td>
					<td>Semarang</td>
				</tr>
				<tr>
					<td>Borma</td>
					<td>Bandung</td>
				</tr>
				<tr>
					<td>Carrefour</td>
					<td>Jakarta</td>
				</tr>
				<tr>
					<td></td>
					<td>Banten</td>
				</tr>
				<tr>
					<td></td>
					<td>Bandung</td>
				</tr>
				<tr>
					<td></td>
					<td>Surabaya</td>
				</tr>
				<tr>
					<td></td>
					<td>Semarang</td>
				</tr>
				<tr>
					<td></td>
					<td>Medan</td>
				</tr>
				<tr>
					<td></td>
					<td>Palembang</td>
				</tr>
				<tr>
					<td>D'Best</td>
					<td>Jakarta</td>
				</tr>
				<tr>
					<td></td>
					<td>Palembang</td>
				</tr>
				<tr>
					<td>Hero - Giant Hypermarket</td>
					<td>Jakarta</td>
				</tr>
				<tr>
					<td></td>
					<td>Semarang</td>
				</tr>
				<tr>
					<td></td>
					<td>Surabaya</td>
				</tr>
				<tr>
					<td></td>
					<td>Medan</td>
				</tr>
				<tr>
					<td>Yogya</td>
					<td>Jakarta</td>
				</tr>
				<tr>
					<td></td>
					<td>Bandung</td>
				</tr>
				<tr>
					<td>Lion Superindo</td>
					<td>Jakarta</td>
				</tr>
				<tr>
					<td></td>
					<td>Banten</td>
				</tr>
				<tr>
					<td></td>
					<td>Bandung</td>
				</tr>
				<tr>
					<td></td>
					<td>Surabaya</td>
				</tr>
				<tr>
					<td></td>
					<td>Semarang</td>
				</tr>
				<tr>
					<td>Lotte</td>
					<td>Jakarta</td>
				</tr>
				<tr>
					<td></td>
					<td>Banten</td>
				</tr>
				<tr>
					<td></td>
					<td>Bandung</td>
				</tr>
				<tr>
					<td></td>
					<td>Surabaya</td>
				</tr>
				<tr>
					<td></td>
					<td>Semarang</td>
				</tr>
				<tr>
					<td>Matahari Hyper &amp; Foodmart</td>
					<td>Jakarta</td>
				</tr>
				<tr>
					<td></td>
					<td>Surabaya</td>
				</tr>
				<tr>
					<td></td>
					<td>Semarang</td>
				</tr>
				<tr>
					<td></td>
					<td>Medan</td>
				</tr>
				<tr>
					<td></td>
					<td>Palembang</td>
				</tr>
				<tr>
					<td>Naga Swalayan</td>
					<td>Jakarta</td>
				</tr>
				<tr>
					<td>Ranch &amp; Farmers Market</td>
					<td>Jakarta</td>
				</tr>
				<tr>
					<td></td>
					<td>Banten</td>
				</tr>
				<tr>
					<td></td>
					<td>Surabaya</td>
				</tr>
				<tr>
					<td>Foodhall</td>
					<td>Jakarta</td>
				</tr>
				<tr>
					<td></td>
					<td>Banten</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>

<div class="clearfix"></div>
