<section id="content">
    	<div class="row">
        	<div class="small-12 columns">
            	<div class="image_page_wraper">
                	<h1>Lokasi Store</h1>
                  
                </div>
            </div>
        </div>
        
        <div class="row">
        	<div class="small-12 columns">
            	<div class="store">
                	<h4> Ada Group </h4>
                    <p>
                    	<span>Semarang</span>
                    </p>
                    
                    <h4> Carrefour Express </h4>
                    <p>
                    	<span>Jakarta, Banten, Surabaya, Semarang</span>
                    </p>
                    
                    <h4> Borma </h4>
                    <p>
                    	<span>Bandung</span>
                    </p>
                    
                    <h4> Carrefour </h4>
                    <p>
                    	<span>Jakarta, Banten, Bandung, Surabaya, Semarang, Medan, Palembang</span>
                    </p>
                    
                    <h4> D'Best </h4>
                    <p>
                    	<span>Jakarta, Palembang</span>
                    </p>
                    
                    <h4> Hero - Giant Supermarket </h4>
                    <p>
                    	<span>Jakarta, Semarang, Surabaya, Medan</span>
                    </p>
                    
                    <h4> Yogya </h4>
                    <p>
                    	<span>Jakarta, Bandung</span>
                    </p>
                    
                    <h4> Lion Superindo </h4>
                    <p>
                    	<span>Jakarta, Banten, Bandung, Surabaya, Semarang</span>
                    </p>
                    
                    <h4> Lotte </h4>
                    <p>
                    	<span>Jakarta, Banten, Bandung, Surabaya, Semarang</span>
                    </p>
                    
                    <h4> Matahari Hyper &amp; Foodmart </h4>
                    <p>
                    	<span>Jakarta, Surabaya, Semarang, Medan, Palembang</span>
                    </p>
                    
                    <h4> Naga Swalayan </h4>
                    <p>
                    	<span>Jakarta</span>
                    </p>
                    
                    <h4> Ranch &amp; Farmers Market </h4>
                    <p>
                    	<span>Jakarta, Banten, Surabaya</span>
                    </p>
                    
                    <h4> Foodhall </h4>
                    <p>
                    	<span>Jakarta, Banten</span>
                    </p>
                </div>
        	</div>
       </div>     
        
         <div class="row">
         	<div class="large-12 columns">
            	<div class="panel box radius">
                	<div class="content_aware">
                    	<a href="http://www.facebook.com/pages/Fiesta-Seafood/112121445663808" target="_blank"><img src="/assets/mobile/fb.png"></a>
                        <a href="http://twitter.com/fiestaseafood" target="_blank"><img src="/assets/mobile/twit.png"></a>
                        <span>
                        	Copyright © 2013 Fiesta Seafood.
                        </span> 
                    </div>
                </div>
            </div>
         </div>
    </section>