<%= form_for [:manage, @recipe], :html => { :class => "form-horizontal", :multipart => true } do |f| %>
  <% if @recipe.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@recipe.errors.count, "error") %> prohibited this receipt from being saved:</h2>

      <ul>
      <% @recipe.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :full_name, :class => "control-label" %>
    <div class="controls">
    <%= f.text_field :full_name %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :title, :class => "control-label" %>
    <div class="controls">
    <%= f.text_field :title %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :description, :class => "control-label" %>
    <div class="controls">
    <%= f.text_area :description, :class => "cleditor" %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :ingredient, :class => "control-label" %>
    <div class="controls">
    <%= f.text_area :ingredient, :class => "cleditor" %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :step, :class => "control-label" %>
    <div class="controls">
    <%= f.text_area :step, :class => "cleditor" %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :image, :class => "control-label" %>
    <div class="controls">
    <%= f.file_field :image %>
    <%= image_tag @recipe.image.url(:thumb) %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :approved, :class => "control-label" %>
    <div class="controls">
    <%= f.text_field :approved %>
    <span>type 1 to publish it to the user.</span>
    </div>
  </div>
  <div class="actions">
    <%= f.submit "Save", :class => "btn btn-warning" %>
  </div>
<% end %>
