<div class="container-fluid">
	<div class="row-fluid">
		<div class="span12">
			<div class="widget wred">
				<div class="widget-head">
	            	<div class="pull-left">Show</div>
	              	<div class="widget-icons pull-right">
	                	<a href="#" class="wminimize"><i class="icon-chevron-up"></i></a> 
	                	<a href="#" class="wclose"><i class="icon-remove"></i></a>
	              	</div>
	              <div class="clearfix"></div>
	            </div>
				<div class="widget-content">
					<table class="table table-bordered">
						<thead>
						  <tr>
						    <th>Full Name</th>
						    <th>Title</th>
						    <th>Image</th>
						    <th>Approved</th>
						    <th></th>
						    <th></th>
						    <th></th>
						  </tr>
					  	</thead>
						<tbody>
						<% @recipes.each do |recipe| %>
						  <tr>
						    <td><%= recipe.full_name %></td>
						    <td><%= recipe.title %></td>
						    <td>
						    	<%= image_tag recipe.image.url(:thumb) %>
						    </td>
						    <td>
						    	<% if recipe.approved === 1 %>
						    	Approved
						    	<% else %>
						    	Pending
						    	<% end %>
						    </td>
						    <td><%= link_to 'Show', manage_recipe_path(recipe), :class => "btn btn-mini btn-success" %></td>
						    <td><%= link_to 'Edit', edit_manage_recipe_path(recipe), :class => "btn btn-mini btn-warning" %></td>
						    <td><%= link_to 'Destroy', manage_recipe_path(recipe), method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-mini btn-danger" %></td>
						  </tr>
						<% end %>
						</tbody>
					</table>
				</div>
				<div class="widget-foot">
					<%= link_to 'New Recipe', new_manage_recipe_path %>
				</div>
			</div>
		</div>
	</div>
</div>