<div class="container-fluid">
	<div class="row-fluid">
		<div class="span12">
			<div class="widget wgreen">
				<div class="widget-head">
              		<div class="pull-left">Forms</div>
                  		<div class="widget-icons pull-right">
                    		<a href="#" class="wminimize"><i class="icon-chevron-up"></i></a> 
                    		<a href="#" class="wclose"><i class="icon-remove"></i></a>
                  		</div>
                  	<div class="clearfix"></div>
                </div>
                <div class="widget-content">
                	<div class="padd">
                		<%= render 'form' %>
					</div>
                </div>
                <div class="widget-foot">
                	<%= link_to 'Back', manage_recipes_path %>
                </div>
			</div>
		</div>
	</div>
</div>
