<div class="container-fluid">
	<div class="row-fluid">
		<div class="span12">
			<div class="widget wviolet">
				<div class="widget-head">
          			<div class="widget-icons pull-right">
                		<a href="#" class="wminimize"><i class="icon-chevron-up"></i></a> 
                		<a href="#" class="wclose"><i class="icon-remove"></i></a>
              		</div>
                  	<div class="clearfix"></div>
                </div>
                <div class="widget-content">
					<p id="notice"><%= notice %></p>
					
					<p>
					  <b>User:</b>
					  <%= @recipe.full_name %>
					</p>
					<p>
					  <b>Image:</b>
					  <%= image_tag @recipe.image.url(:thumb) %>
					</p>
					<p>
					  <b>Title:</b>
					  <%= @recipe.title %>
					</p>
					
					<p>
					  <b>Description:</b>
					  <%= @recipe.description.html_safe %>
					</p>
					<p>
					  <b>Ingredients</b><br />
					  <%= @recipe.ingredient.html_safe %>
					</p>
					<p>
					  <b>Steps</b><br />
					  <%= @recipe.step.html_safe %>
					</p>
				</div>
				<div class="widget_foot">
					<%= link_to 'Edit', edit_manage_recipe_path(@recipe) %> |
					<%= link_to 'Back', manage_recipes_path %>
				</div>
			</div>
    	</div>
	</div>
</div>
