Nama: <%= @konsultasi.name %>
Jenis Kelamin: <%= @konsultasi.gender %>
Email: <%= @konsultasi.email %>
No. Telepon: <%= @konsultasi.phone %>
Alamat: <%= @konsultasi.address %>
Tanggal Lahir: <%= @konsultasi.birthdate %>
Pertanyaan: <%= @konsultasi.message %>