<!DOCTYPE html>
<!--[if IE 8]> 				 <html class="no-js lt-ie9" lang="en" > <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en" > <!--<![endif]-->

<head>
	<meta charset="utf-8" />
  <meta name="viewport" content="width=device-width" />
  <title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>
  <meta name="description" content="Fiesta Seafood adalah menu sarapan pagi praktis berupa makanan olahan yang berasal dari udang">
  
  <!--menu-->
  	<%= stylesheet_link_tag "application-mobile" %>
  	<%= javascript_include_tag "application-mobile" %>
    
 	<%= csrf_meta_tags %>
</head>
<body>
	<header id="head">
		<div class="row">
			<div class="large-12 columns logo">
				<a href="<%= root_path %>"><img src="/assets/mobile/logo.png"></a>              		
			</div>
            <div class="large-12 columns">
            	<nav>
					<ul>
						<li><a href="<%= root_path %>">Home</a></li>
                        <li><a href="<%= about_index_path %>">Tentang</a></li>
                        <li><a href="<%= recipes_path %>">Resep</a></li>
                        <li><a href="<%= produk_index_path %>">Produk</a></li>
                        <li><a href="<%= new_konsultasi_path %>">Konsultasi</a></li>
                        <li><a href="<%= blog_index_path %>">blog</a></li>
                        <li><a href="<%= contact_path %>">Kontak</a></li>
                    </ul>
                </nav>    
            </div>
		</div>
    </header>
	<%= yield %>
  
  <script>
    jQuery(document).ready(function () { 
        jQuery('header nav').meanmenu();
    });
    </script>

</body>
</html>
