<%=
content_for :title do
	"FAQ | Fiesta Seafood"
end
%>
<div id="fiesta_right_side">
	<h1>F.A.Q / FREQUENTLY ASKED QUESTIONS</h1>
		<div id="fiesta_faq_content">
		
			<h3>Apakah semua produk frozen harus di-‘thawing’ atau dibiarkan di suhu ruangan terlebih dahulu sebelum dimasak ? </h3>
		
			<div class="fiesta_answer">
				<p>Semua produk frozen harus digoreng dalam keadaan beku, tidak boleh di-‘thawing’ terlebih dahulu. Jika terdapat bunga es berlebih pada produk, harap dibersihkan terlebih dahulu bunga es tersebut untuk menghindari letupan berlebih pada saat menggoreng. Jika kondisi normal, maka seharusnya tidak terjadi letupan yang berlebih pada saat menggoreng. </p>
			</div>
            
            <h3>Produk sebaiknya dimasak di suhu 1700C. Bagaimana cara mengetahui secara kasat mata kondisi minyak di suhu tersebut ? </h3>
		
			<div class="fiesta_answer">
				<p>Suhu minyak 1700C – 1800C mempunyai ciri-ciri dengan adanya gelembung-gelembung yang mulai naik ke permukaan minyak. Jika minyak sudah terlalu panas, maka akan keluar asap dan gelembung yang timbul sudah banyak (yaitu minyak mencapai suhu 2000C).</p>
			</div>
			
			<h3>Seberapa banyak minyak yang harus digunakan pada saat menggoreng ?</h3>
			<div class="fiesta_answer">
				<p>Minyak harus menggenangi produk pada saat menggoreng untuk mendapatkan hasil yang terbaik.</p>	
			</div>
			
			<h3>Seafood Stick dan produk lainnya yang mengandung ikan terbuat dari ikan apa ?</h3>
			<div class="fiesta_answer">
				<p>Terbuat dari ikan laut. Untuk Seafood Stick terbuat dari campuran daging ikan laut dan potongan udang dengan prosentase ikan laut yang lebih tinggi daripada udang.</p>
			</div>
			
			<h3>Warna merah dari bakso udang apakah dari pewarna atau dari bahan-bahan lain seperti wortel ?</h3>
			<div class="fiesta_answer">
				<p>Warna merah dari bakso udang dan produk lainnya adalah murni dari udang.</p>
			</div>
			
			<h3>Apakah produk yang dikukus/direbus dimasak dalam keadaan beku juga?</h3>
			<div class="fiesta_answer">
				<p>Semua produk walaupun itu dikukus/direbus dimasak dalam keadaan beku dan tidak perlu di- ‘thawing’ terlebih dahulu. Produk dalam keadaan beku, dikukus/direbus pada saat air mendidih di suhu 1000C.</p>	
			</div>
			
			<h3>Produk Shrimp Tofu – warna merah dan hijau berasal dari mana?</h3>
			<div class="fiesta_answer">
				<p>Warna hijau berasal dari daun bawang dan warna merah berasal dari udang.</p>	
			</div>
			
			<h3>Shrimp Tofu, apakah mengandung tahu?</h3>
			<div class="fiesta_answer">
				<p>Tidak mengandung tahu, hanya penamaan produk saja.</p>
			</div>
			
			<h3>Apakah kelebihan Fiesta Seafood dibandingkan frozen seafood lainnya?</h3>
			<div class="fiesta_answer">
				<p>a)  System pengolahan udang oleh CP Prima yang terkontrol dari hulu ke hilir sehingga menyebabkan kualitas udang terjaga.</p>
				<p>b)  Proses produksi yang terkontrol dari segi kualitas, penanganan sampai dengan cold chain yang terjaga di suhu -20C sehingga produk masih tetap segar.</p>
				<p>c)  Produk Fiesta Seafood yang terbuat dari real seafood dan bukan dari pewarna ataupun bahan2 pendukung spt wortel utk mendapatkan warna merah seafood.</p>	
			</div>
			
			<h3>Keunggulan produk-produk Fiesta Seafood?</h3>
			<div class="fiesta_answer">
				<p>a)  Mengandung omega 6 – yang penting utk otak pertumbuhan otak anak ,dan 9 – yang berfungsi mencegah kolestrol dan mengurangi kadar lemak jahat di dalam tubuh.</p>
				<p>b)  Mengandung asam amino essential yang penting utk tubuh.</p>
			</div>
			
			<h3>Citarasa kenyal pada produk Kaki Naga Champ Seafood berasal dari mana?</h3>
			<div class="fiesta_answer">
				<p>Citarasa kenyal didapatkan dari daging ikan yang terkandung pada Kaki Naga.</p>
			</div>
			
			<h3>Jika suhu penyimpanan stabil di suhu -200C, apakah produk masih aman dikonsumsi setelah tanggal best before yang tertera pada kemasan?</h3>
			<div class="fiesta_answer">
				<p>Masih bisa dikonsumsi setelah best before date dengan kondisi - 200C, tetapi perlu diketahui bahwa produk akan paling baik disajikan sebelum tanggal tertera di kemasan. Dan tidak disarankan untuk mengkonsumsi produk lewat masa best before.</p>
			</div>
			
			<h3>Kenapa semua produk Fiesta Seafood dan Champ Seafood, waktu menggorengnya sangat singkat?</h3>
			<div class="fiesta_answer">
				<p>Semua produk Fiesta Seafood, kecuali ebi fry, sudah melalui proses pra pemasakan (pemasakan awal) di pabrik sehingga hanya perlu proses pemanasan / penghangatan selama 2-3 menit.</p>
			</div>
			
			<h3>Apakah setelah digoreng nilai gizi akan turun?</h3>
			<div class="fiesta_answer">
				<p>Kandungan semua produk kita hampir sebagian besar adalah protein dan protein di suhu 1700C masih belum rusak, sehingga kandungan nutrisi masih bisa dipertahankan.</p>	
			</div>
			
			<h3>Apakah produk sebaikanya disimpan di freezer atau chiller?</h3>
			<div class="fiesta_answer">
				<p>Semua produk harus tetap disimpan dalam keadaan frozen yaitu di dalam freezer kulkas dan bukan di dalam chiller.</p>
			</div>
			
			<h3>Apakah produk Fiesta-Champ Seafood mengandung bahan pengawet?</h3>
			<div class="fiesta_answer">
				<p>Semua produk Fiesta-Champ Seafood tidak mengandung tambahan bahan pengawet oleh karena itu produk hanya bisa bertahan selama maksimal 6 jam di suhu ruangan.</p>
			</div>
			
			<h3>Bagaimana dengan isu alergi yang kerap menjadi alasan dari konsumen utk menghindari produk seafood?</h3>
			<div class="fiesta_answer">
				<p>Alergi jika memang dikarenakan daya tahan tubuh tidak bisa menerima, jadi tidak disarankan. Di populasi dunia, hanya 5% penduduk yang mempunyai alergi yang akut.</p>
			</div>
		</div>
</div>
<!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
<script type="text/javascript">
	$(document).ready(function() {
		$('#fiesta_faq_content h3').each(function() {
			var tis = $(this), state = false, answer = tis.next('.fiesta_answer').slideUp();
			tis.click(function() {
				state = !state;
				answer.slideToggle(state);
				tis.toggleClass('fiesta_active',state);
			});
		});
	});
</script>