<div id="fiesta_right_side">
	<div id="fiesta_kontak_left">
		<h1>KONTAK</h1>
		<p><strong>Full Name</strong></p>
		<input type="text" class="fiesta_input_text fiesta_input_kontak"/>
		<p><strong>E-mail Address</strong></p>
		<input type="text" class="fiesta_input_text fiesta_input_kontak"/>
		<p><strong>Your Message</strong></p>
		<textarea class="fiesta_input_text fiesta_input_kontak"></textarea>
		<p style="margin-top: 25px;"><a href="#" class="fiesta_kontak_btn">SEND MESSAGE</a></p>
	</div>
	<div id="fiesta_kontak_right">
		<p>Toll Free Customer Service</p>
		<h3>0800-1-CPP-CPP</h3>
		<p><span><strong>(Senin - Jumat 08.00 - 17.00)</strong></span></p>
	</div>
	
	<div class="clearfix"></div>
	
</div>