<%=
content_for :title do
	"Kontak Kami | Fiesta Seafood"
end
%>
<div id="fiesta_right_side">
	<div id="fiesta_kontak_left">
		<h1>KONTAK</h1>
		<% if flash[:notice] %>
		<p><%= flash[:notice] %></p>
		<% end %>
		<%= form_for @message, :url => contact_path do |form| %>
		<p><strong>Full Name</strong></p>
		<%= form.text_field :name, :class => "fiesta_input_text fiesta_input_kontak" %>
		<p><strong>E-mail Address</strong></p>
		<%= form.text_field :email, :class => "fiesta_input_text fiesta_input_kontak" %>
		<p><strong>Your Message</strong></p>
		<%= form.text_area :body, :class => "fiesta_input_text fiesta_input_kontak" %>
		<p style="margin-top: 25px;"><%= form.submit "SEND MESSAGE", :class => "fiesta_kontak_btn" %></p>
		<% end %>
	</div>
	<div id="fiesta_kontak_right">
		<p>Toll Free Customer Service</p>
		<h3>0800-1-CPP-CPP</h3>
		<p><span><strong>(0800-1-277-277)</strong></span></p>
		<p><span><strong>Senin - Jumat 08.00 - 17.00</strong></span></p>
	</div>
	
	<div class="clearfix"></div>
	
</div>