/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

html { /*asep*/
	height: 100%; /* asep */
}

body 
{
    font-size: 1em;
    line-height: 1.4;
    font-family: 'Open Sans', 'Helvetica', 'Arial', sans-serif;
    background: #fafafa;
	color: #666;
	height: 100%; /* asep */
}

a:focus {
	outline:none !important;
}

#fiesta_home {
	height: 100%;
	position: relative;
}

body#fiesta_home
{
	background: white url('<%= asset_path "fiesta_bg_home.jpg" %>') center right no-repeat fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;	
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.fiesta_container
{
	width: 1000px;
	margin: 0 auto 0 auto;
}

#fiesta_header
{
	position: fixed;
	height: 70px;
	background: black;
	top: 0px;
	width: 100%;
	z-index: 270;
	min-width: 960px;
}

#fiesta_logo
{
	margin-top: 10px;
	margin-left: 60px;
	float: left;
	z-index: 3000;
	cursor: pointer;
}

#fiesta_socmed
{
	float: right;
	color: #fdc905;
	font-size: 20px;
	padding-top: 20px;
	width: 450px;
	z-index: 30;
}

#fiesta_socmed img.fiesta_triangle
{
	margin-left: 10px; 
	margin-top: -5px;
}

#fiesta_socmed a
{
	color: #fdc905;
	text-decoration: none;
}

#fiesta_socmed .fiesta_socmed_btn
{
	margin-right: 15px;
}

#fiesta_socmed .fiesta_text_btn
{
	margin-left: 13px;
	font-family: 'Open Sans Condensed', 'Helvetica', 'Arial', sans-serif;
}

#fiesta_blog_box
{
	display: none;
	background: #fafafa;
	border-bottom: 5px solid #eeeeee;
	position: fixed;
	z-index: 10;
	padding: 30px 15px;
	width: 650px;
	top: 70px;
	right: 0px;
	margin-right: 200px;
}

.fiesta_blog_slide
{
	width: 190px;
	height: 180px;
}

.fiesta_blog_slide a
{
	text-decoration: none;
	color: #004795;
}

.fiesta_blog_slide img
{
	-webkit-box-shadow:  0px 0px 10px #888;
    box-shadow:  0px 0px 10px #888;
    margin-bottom: 10px;
}

.fiesta_blog_slide img a
{
	border: 0px;
}

#fiesta_registration_box, 
#fiesta_signin_box,
#fiesta_upload_photo
{
	display: none;
	padding: 15px;
	background: black;
	position: fixed;
	height: 230px;
	width: 250px;
	z-index: 190;
	top: 70px;
	right: 0px;
	margin-right: 40px;
	color: white;
	-webkit-border-radius: 0px 0px 10px 10px;
    border-radius: 0px 0px 10px 10px;
    font-size: 12px;
}

#fiesta_tiles 
{
	list-style-type: none;
	position: relative; /** Needed to ensure items are laid out relative to this container **/
	margin: 0;
}

#fiesta_tiles li 
{
	width: 250px;	
	border-radius: 2px;
	display: none; /** Hide items initially to avoid a flicker effect **/
	  cursor: pointer;
	padding: 4px 4px 10px 4px;
}

#fiesta_tiles li img 
{
	display: block;
	margin-bottom: 10px;
}

#fiesta_tiles table
{
	width: 100%;
}

#fiesta_tiles table tr td.fiesta_tiles_left a
{
	color: #004795;
	text-decoration: none;
}

#fiesta_tiles table tr td.fiesta_tiles_right
{
	text-align: right;
}

#fiesta_tiles table tr td.fiesta_tiles_right a
{
	text-decoration: none;
	color: #666;
}

ul.fiesta_star_rating
{
	margin: 0px;
	padding-left: 10px;
}

ul.fiesta_star_rating li
{
	list-style: none;
	display: inline;
}

.fiesta_icon
{
	width: 60px;
	margin: 0 auto 0 auto;
}

a#fiesta_icon_ins
{
	width: 24px;
	height: 24px;
	display: block;
	background: url('<%= asset_path "fiesta_ins_b.png" %>') no-repeat;
	float: left;
	margin-right: 10px;
}

a#fiesta_icon_ins:hover
{
	background: url('<%= asset_path  "fiesta_ins_y.png" %>') no-repeat;
}

a#fiesta_icon_tw
{
	width: 24px;
	height: 24px;
	display: block;
	background: url('<%= asset_path "fiesta_tw_b.png" %>') no-repeat;
	float: left;
}

a#fiesta_icon_tw:hover
{
	background: url('<%= asset_path "fiesta_tw_y.png" %>') no-repeat;
}

#fiesta_decoy
{
	display: none;
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 180;
}

#fiesta_signin_box,
{
	height: 180px;
}

#fiesta_registration_box a,
#fiesta_signin_box a,
#fiesta_upload_photo a
{
	text-decoration: none;
	color: #ffcb05;
}

#fiesta_registration_box table tr td,
#fiesta_signin_box table tr td,
#fiesta_upload_photo table tr td
{
	padding: 3px 0;
}

#fiesta_registration_box table tr td.fiesta_registration_title,
#fiesta_signin_box table tr td.fiesta_registration_title,
#fiesta_upload_photo table tr td.fiesta_registration_title
{
	font-family: 'Open Sans Condensed', 'Helvetica', 'Arial', sans-serif;
	font-size: 18px;	
}

#fiesta_main_balloon
{
	display: none;
	width: 343px;
	height: 255px;
	position:relative;
	background-size:cutting;
	top: 150px;
	z-index: 10;
	left: 19%; 
	background: url('<%= asset_path "fiesta_main_balloon.gif" %>') no-repeat;
	
	-webkit-transition: .5s all ease-in-out;
   -moz-transition: .5s all ease-in-out;
   -o-transition: .5s all ease-in-out;
   transition: .5s all ease-in-out; 
}

#fiesta_main_balloon:hover
{
	-webkit-transform: rotate(10deg) scale(1.1);
   -moz-transform: rotate(10deg) scale(1.1);
   -o-transform: rotate(10deg) scale(1.1);
   transform: rotate(10deg) scale(1.1);
   cursor:pointer;
} 

#shadow_fiesta_main_balloon
{
	width: 191px;
	height: 19px;
	position: absolute;
	background-size:cutting;
	bottom:-7px;
	z-index: 10; 
	left: 18%; 
	background: url('<%= asset_path "shadow_2.png" %>') no-repeat;
}


#fiesta_main_slide /* asep */
{
	bottom: 0px;
	left: 50%;
	margin-left: -400px;
	margin-bottom: 30px;
	position: absolute;
	width: 885px;
	z-index: 11;
}

#fiesta_produk_image_slider
{
	width: 300px;
	height: 300px;
	overflow: hidden;
}

#fiesta_produk_slider_inner
{
	width: 900px;
	height: 300px;
}

#fiesta_produk_slider_inner img
{
	float: left;
}

#fiesta_produk_slide_container
{	
	height: 250px;
	width: 630px;
	overflow: hidden;
	margin-left: 65px;
	margin-top: 10px;
	float: left;
}

#fiesta_main_slide_container
{	
	height: 137px;
	width: 820px;
	overflow: hidden;
	margin-left: 30px;
	float: left;
}

#fiesta_blog_slide_container
{
	height: 180px;
	width: 590px;
	overflow: hidden;
	margin-left: 30px;
	float: left;
}

#fiesta_blog_slide_boxes
{
	margin: 0px;
	padding: 0px;
	width: 9999px;
	left: -200px;
	position: relative;
}

#fiesta_blog_slide_boxes li
{
	list-style: none;
	float: left;
	width: 190px;
	height: 170px;
	margin-left: 5px;
	margin-right: 5px;
}

#fiesta_produk_slide_boxes
{
	margin: 0px;
	padding: 0px;
	width: 9999px;
	left: -180px;
	position: relative;
}

#fiesta_produk_slide_boxes li
{
	list-style: none;
	float: left;
	width: 200px;
	height: 250px;
	margin-left: 5px;
	margin-right: 5px;
}

#fiesta_main_slide_boxes
{
	margin: 0px;
	padding: 0px;
	width: 9999px;
	left: -275px;
	position: relative;
}

#fiesta_main_slide_boxes li
{
	list-style: none;
	float: left;
	width: 265px;
	height: 137px;
	margin-left: 5px;
	margin-right: 5px;
}

#fiesta_blog_arrow_left,
#fiesta_blog_arrow_right,
#fiesta_arrow_left,
#fiesta_arrow_right
{
	position: absolute;
	cursor: pointer;
	float: left;
	margin-top: 50px;
}

#fiesta_arrow_produk_left,
#fiesta_arrow_produk_right
{
	position: absolute;
	cursor: pointer;
	float: left;
	margin-top: 100px;
}

#fiesta_arrow_produk_left
{
	margin-left: 30px;
}

#fiesta_arrow_produk_right
{
	margin-left: 715px;
}

#fiesta_produk_slider
{
	width: 300px;
	float: left;
	text-align: center;
}

#fiesta_produk_slider a
{
	color: #666;
	font-size: 14px;
	text-decoration: none;
}

#fiesta_produk_slider p span
{
	cursor: pointer;
}

#fiesta_produk_explanation
{
	float: left;
	width: 400px;
	font-size: 14px;
	line-height: 26px;
	padding-top: 15px;
}

#fiesta_produk_explanation h2
{
	color: #d7691c;
	font-weight: normal;
	font-size: 40px;
}

#fiesta_arrow_right
{
	right: 0;
}

#fiesta_blog_arrow_right
{
	right: 0;
	margin-right: 15px;
}

.fiesta_produk_list
{
	float: left;
	display: block;
	width: 150px;
	height: 250px;
	text-align: center;
	cursor: pointer;
}

.fiesta_produk_list img
{
	margin-top: 20px;
}

.fiesta_produk_list p
{
	margin-top: 10px;
	font-size: 13px;
	font-weight: bold;
}

.fiesta_produk_list:hover img
{
	margin-top: 10px;
}

.fiesta_produk_list:hover p
{
	margin-top: 20px;
}

.fiesta_slide_even, 
.fiesta_slide_odd
{
	width: 265px;
	height: 137px;
	float: left;
	display: block;
}

.fiesta_slide_even
{
	background: url('<%= asset_path "fiesta_slide_even.png" %>') no-repeat;
}

.fiesta_slide_odd
{	
	background: url('<%= asset_path "fiesta_slide_odd.png" %>') no-repeat;
	color: white;
	font-size: 12px;
}

.fiesta_slide_odd a
{
	color: white;
	text-decoration: none;
	font-size: 16px;
	float:left;
}

.fiesta_slide_even a
{
	color: #004795;
	text-decoration: none;
	font-size: 16px;
}

.fiesta_slide_inner_left
{
	width: 120px;
	float: left;
	margin-top: 25px;
	margin-left: 15px;
}

.fiesta_slide_inner_right
{
	width: 75px;
	float: left;
	margin-top: 15px;
	margin-left: 10px;
}

.fiesta_slide_inner_left img
{
	display: block;
}
.fiesta_slide_inner_left p{
	font-size:13px;
	margin-top:5px;
	color:#004795;
}

#fiesta_faq
{
	margin-top: 20px;
}

#fiesta_faq a.fiesta_faq
{
	text-decoration: none;
	color: #666666;
	background: url('<%= asset_path "fiesta_faq.png" %>') no-repeat;
	padding: 0px 20px; 
}

#fiesta_faq a.fiesta_faq:hover
{
	color: #ffcc0c;
	background: url('<%= asset_path "fiesta_faq_y.png" %>') no-repeat;
}

#fiesta_copyright
{
	margin-top: 15px;
	margin-bottom: 30px;
	font-size: 11px;
	color: #666;
}

#fiesta_left_side
{
	width: 120px;
	float: left;
	position: fixed;
	margin-left: 60px;
	z-index: 200;
}

#fiesta_right_side
{
	margin-top: 100px;
	width: 820px;
	float: left;
	margin-left: 210px;
}

#fiesta_right_side h1
{
	color: #ffcb05;
	font-size: 24px;
	margin: 20px 0;
	font-family: 'Open Sans Condensed', 'Helvetica', 'Arial', sans-serif;	
}

.fiesta_berita_block
{
	float: left;
	width: 370px;
	height: 600px;
	font-size: 15px;
	line-height: 28px;
	color: #666;
	margin-right: 40px;
	margin-bottom: 50px;
}

.fiesta_berita_block h2
{
	font-size: 20px;
	font-weight: normal;
	margin-top: 20px;
}

.fiesta_berita_block h2 a
{
	text-decoration: none;
	color: #004795;
}

.fiesta_berita_block h2 a:hover
{
	color: #666;
}

img.fiesta_berita_pic
{
	-webkit-box-shadow:  0px 0px 10px #888;
    box-shadow:  0px 0px 10px #888;
}

#fiesta_berita_detail
{
	width: 500px;
	float: left;
	padding-left: 10px;
	font-size: 15px;
	color: #666;
	line-height: 28px;
	margin-bottom: 30px;
}

#fiesta_berita_detail p
{
	margin-top: 20px;
}

#fiesta_berita_detail a
{
	color: #666;
	text-decoration: none;
}

#fiesta_berita_detail h2
{
	font-weight: normal;
	margin: 0px;
	font-size: 30px;
	line-height: 40px;
	color: #004795;
}

#fiesta_berita_detail img
{
	margin-top: 10px;
}

.fiesta_paging span
{
	margin-right: 10px;
}

.fiesta_paging span.fiesta_paging_text a
{
	color: #004795 !important;
}

.fiesta_archives
{
	margin-top: 15px;
	width: 120px;
	float: left;
	font-size: 15px;
}

.fiesta_archives p
{
	margin: 10px 0;
}

.fiesta_archives a 
{
	color: #666;
	text-decoration: none;
}

.fiesta_archives a:hover
{
	color: #004795;
}

#fiesta_berita_list
{
	float: right;
	width: 260px;
}

.fiesta_recipe_list_main
{
	margin-top: 25px;
	margin-right: 60px;
	float: left;
	width: 200px;
	height: 300px;
}

table#fiesta_recipe_list_table
{
	width: 100%;
}

table#fiesta_recipe_list_table tr td
{
	width: 200px;
	padding-right: 20px;
}

table#fiesta_recipe_list_table tr td.fiesta_recipe_list_pic
{
	min-height: 270px;
	float:left;
	vertical-align: center;
}
.title_recipe_list a {
	text-decoration: none;
	font-size: 20px;
	color: #666;
	line-height: 26px;
}

table#fiesta_recipe_list_table tr td.fiesta_recipe_list_text a
{
	text-decoration: none;
	font-size: 20px;
	color: #666;
	line-height: 26px;
}

.fiesta_resep_list_small
{
	margin-top: 25px;
}

.fiesta_resep_list_small img,
.fiesta_recipe_list_main img
{
	display: block;
	margin-bottom: 10px;
}

.fiesta_berita_list_small
{
	height: 100px;
	margin-top: 25px;
}

.fiesta_berita_list_small img
{
	margin-right: 15px;
}

.fiesta_berita_list_small a,
.fiesta_resep_list_small a,
.fiesta_recipe_list_main a
{
	text-decoration: none;
	font-size: 20px;
	color: #666;
	line-height: 26px;
}

.fiesta_berita_list_small a img,
.fiesta_resep_list_small a img,
.fiesta_recipe_list_main a img
{
	border: none;
}

.fiesta_berita_list_small a:hover,
.fiesta_resep_list_small a:hover,
.fiesta_recipe_list_main a:hover
{
	color: #004795;
}

#fiesta_berita_list h1
{
	margin: 0px;
	line-height: 20px;
	font-size: 18px;
}

#fiesta_produk_galeri
{
	background: url('<%= asset_path "fiesta_produk_galeri.png" %>');
	width: 766px;
	height: 245px;
	font-size: 15px;
	padding-top: 15px;
}

#fiesta_faq_content, 
#fiesta_tentang_content,
#fiesta_galeri_content
{
	font-size: 15px;
	line-height: 22px;
	margin-bottom: 50px;
	line-height: 28px;
}

#fiesta_faq_content 
{ 
	position:relative	
}

#fiesta_faq_content h3	
{ 	
	cursor:pointer; width: 750px;
	color: #004795;
	font-weight: bold;
	background:url('<%= asset_path "fiesta_faq_triangle.png" %>') no-repeat 0 7px;
	padding-left:30px;   
}

#fiesta_faq_content h3.fiesta_active	
{ 
	color:#004795; 
}

#fiesta_faq_content div 
{ 
	position:relative;
}

#fiesta_faq_content div p	
{  
	padding-left:30px; 
	margin-bottom:15px; 
	position:relative; 
	width: 750px; 
	margin-top:10px; 
}

#fiesta_galeri_content h2
{
	color: #004795;
	font-weight: normal;
	font-size: 32px;
}

#fiesta_galeri_content h3
{
	color: #ffcb05;
	font-size: 18px;
	margin-top: 50px;
	font-family: 'Open Sans Condensed', 'Helvetica', 'Arial', sans-serif;	
}

#fiesta_galeri_content p.fiesta_galeri_steps
{
	color: #ffcc0c;
	font-size: 14px;
}

#fiesta_galeri_content p.fiesta_galeri_upload
{
	text-align: center;
	margin-top: 50px;
}

#fiesta_galeri_content p.fiesta_galeri_upload a,
#fiesta_galeri_content p.fiesta_galeri_upload span
{
	text-decoration: none;
	color: #004795;
}

#fiesta_resep_submit
{
	margin-left: 10px;
	font-size: 15px;
}

#fiesta_resep_submit table tr td.fiesta_resep
{
	text-align: right;
	width: 130px;
	padding-right: 20px;
}

#fiesta_resep_submit table tr td input.fiesta_input_text,
#fiesta_resep_submit table tr td textarea.fiesta_input_text
{
	width: 400px;
}

#fiesta_galeri_content p.fiesta_galeri_upload a.fiesta_galeri_upload_btn
{
	background: #ed1c24;
	font-family: 'Open Sans Condensed', 'Helvetica', 'Arial', sans-serif;
	color: white;
	text-decoration: none;
	padding: 15px 170px;
	font-size: 18px;
	-webkit-border-radius: 10px;
    border-radius: 10px;
}

a.fiesta_konsultasi_btn,
input.fiesta_konsultasi_btn
{
	background: #ed1c24;
	font-family: 'Open Sans Condensed', 'Helvetica', 'Arial', sans-serif;
	color: white;
	text-decoration: none;
	padding: 15px 145px;
	font-size: 18px;
	-webkit-border-radius: 10px;
    border-radius: 10px;
    border: none;
}

a.fiesta_resep_btn,
input.fiesta_resep_btn
{
	background: #ed1c24;
	font-family: 'Open Sans Condensed', 'Helvetica', 'Arial', sans-serif;
	color: white;
	text-decoration: none;
	padding: 15px 190px;
	font-size: 18px;
	-webkit-border-radius: 10px;
    border-radius: 10px;
    border: none;
}

a.fiesta_kontak_btn,
input.fiesta_kontak_btn
{
	background: #ed1c24;
	font-family: 'Open Sans Condensed', 'Helvetica', 'Arial', sans-serif;
	color: white;
	text-decoration: none;
	padding: 15px 190px;
	font-size: 18px;
	-webkit-border-radius: 10px;
    border-radius: 10px;
    border: none;
}

#fiesta_berita_detail a.fiesta_resep_btn,
#fiesta_berita_detail input.fiesta_resep_btn
{
	background: #ed1c24;
	font-family: 'Open Sans Condensed', 'Helvetica', 'Arial', sans-serif;
	color: white;
	text-decoration: none;
	padding: 15px 245px;
	font-size: 18px;
	-webkit-border-radius: 10px;
    border-radius: 10px;	
}

#fiesta_kontak_left
{
	font-size: 15px;
	width: 500px;
	float: left;
}

#fiesta_kontak_right
{
	width: 300px;
	float: right;	
	padding-top: 20px;
}

#fiesta_kontak_right p
{
	margin: 10px 0;
	font-size: 17px;
}

#fiesta_kontak_right p span
{
	font-size: 12px;
}

#fiesta_kontak_right h3
{
	margin: 0px;
	font-size: 32px;
	line-height: 25px;
}

#fiesta_tentang_content ul 
{
	color: #004795;
	padding-left: 20px;
}

#fiesta_tentang_content ul li
{
	margin: 10px 0;
}

.fiesta_faq_triangle
{
	float:left; 
	width:30px;
}

.fiesta_faq_question
{
	float:left; 
	width:750px;
	color: #004795;
	font-weight: bold;
}

.fiesta_faq_answer
{
	width: 750px;
	margin: 10px 0 10px 30px;
}

#fiesta_galeri_balloon
{	
	width: 776px;
	height: 375px;
	background: url('<%= asset_path "fiesta_galeri_balloon.png" %>') no-repeat;
}

#fiesta_galeri_balloon img
{
	margin-left: 14px;
	margin-top: 14px;
}

#fiesta_menu
{
	width: 75px;
	height: 410px !important;
	margin-top: 120px;
	padding-left: 0;
	padding-top: 3px;
	background: url('<%= asset_path "fiesta_menu.png" %>') no-repeat !important;
}

#fiesta_menu span /* asep */
{
	width: 75px;
	padding-top: 31px;
	display: block;
	text-align: center;
}

#fiesta_menu span.fiesta_menu_produk
{
	background: url('<%= asset_path "fiesta_produk_b.png" %>') no-repeat center;
	cursor: pointer;
}

#fiesta_produk #fiesta_menu span.fiesta_menu_produk,
#fiesta_menu span.fiesta_menu_produk:hover
{
	background: url('<%= asset_path "fiesta_produk_y.png" %>') no-repeat center;
	cursor: pointer;
}

#fiesta_menu span.fiesta_menu_tentang
{
	background: url('<%= asset_path "fiesta_tentang_b.png" %>') no-repeat center;
	cursor: pointer;
}

#fiesta_tentang #fiesta_menu span.fiesta_menu_tentang,
#fiesta_menu span.fiesta_menu_tentang:hover
{
	background: url('<%= asset_path "fiesta_tentang_y.png" %>') no-repeat center;
	cursor: pointer;
}

#fiesta_menu span.fiesta_menu_konsultasi
{
	background: url('<%= asset_path "fiesta_konsultasi_b.png" %>') no-repeat center;
	cursor: pointer;
	display: block !important;
}

#fiesta_konsultasi #fiesta_menu span.fiesta_menu_konsultasi,
#fiesta_menu span.fiesta_menu_konsultasi:hover
{
	background: url('<%= asset_path "fiesta_konsultasi_y.png" %>') no-repeat center;
	cursor: pointer;
}

#fiesta_menu span.fiesta_menu_galeri 
{
	background: url('<%= asset_path "fiesta_galeri_b.png" %>') no-repeat center;
	cursor: pointer;
}

#fiesta_galeri #fiesta_menu span.fiesta_menu_galeri,
#fiesta_menu span.fiesta_menu_galeri:hover
{
	background: url('<%= asset_path "fiesta_galeri_y.png" %>') no-repeat center;
	cursor: pointer;
}

#fiesta_menu span.fiesta_menu_resep
{
	background: url('<%= asset_path "fiesta_resep_b.png" %>') no-repeat center;
	cursor: pointer;
}

#fiesta_resep #fiesta_menu span.fiesta_menu_resep,
#fiesta_menu span.fiesta_menu_resep:hover
{
	background: url('<%= asset_path "fiesta_resep_y.png" %>') no-repeat center;
	cursor: pointer;
}

#fiesta_menu span.fiesta_menu_berita
{
	background: url('<%= asset_path "fiesta_berita_b.png" %>') no-repeat center;
	cursor: pointer;
}

#fiesta_berita #fiesta_menu span.fiesta_menu_berita,
#fiesta_menu span.fiesta_menu_berita:hover
{
	background: url('<%= asset_path "fiesta_berita_y.png" %>') no-repeat center;
	cursor: pointer;
}

#fiesta_menu span.fiesta_menu_lokasi
{
	background: url('<%= asset_path "fiesta_store_b.png" %>') no-repeat center;
	cursor: pointer;
}

#fiesta_berita #fiesta_menu span.fiesta_menu_lokasi,
#fiesta_menu span.fiesta_menu_lokasi:hover
{
	background: url('<%= asset_path "fiesta_store_y.png" %>') no-repeat center;
	cursor: pointer;
}

#fiesta_menu span.fiesta_menu_kontak
{
	background: url('<%= asset_path "fiesta_kontak_b.png" %>') no-repeat center;
	cursor: pointer;
}

#fiesta_kontak #fiesta_menu span.fiesta_menu_kontak,
#fiesta_menu span.fiesta_menu_kontak:hover
{
	background: url('<%= asset_path "fiesta_kontak_y.png" %>') no-repeat center;
	cursor: pointer;
}

#fiesta_menu a
{
	text-decoration: none;
	font-size: 13px;
	color: #004795;
	font-weight: bold;
	font-family: 'Open Sans Condensed', 'Helvetica', 'Arial', sans-serif;
	display: block;
}

#fiesta_menu span a
{
	text-decoration: none;
	font-size: 13px;
	color: #004795;
	font-weight: bold;
	font-family: 'Open Sans Condensed', 'Helvetica', 'Arial', sans-serif;
}

#fiesta_produk #fiesta_menu a span.fiesta_menu_produk,
#fiesta_resep #fiesta_menu a span.fiesta_menu_resep,
#fiesta_kontak #fiesta_menu a span.fiesta_menu_kontak,
#fiesta_konsultasi #fiesta_menu a span.fiesta_menu_konsultasi,
#fiesta_galeri #fiesta_menu a span.fiesta_menu_galeri,
#fiesta_tentang #fiesta_menu a span.fiesta_menu_tentang,
#fiesta_berita #fiesta_menu a span.fiesta_menu_berita,
#fiesta_menu a span:hover
{
	color: #ffcc0c;
}

#fiesta_produk #fiesta_menu span.fiesta_menu_produk a,
#fiesta_resep #fiesta_menu span.fiesta_menu_resep a,
#fiesta_kontak #fiesta_menu span.fiesta_menu_kontak a,
#fiesta_konsultasi #fiesta_menu span.fiesta_menu_konsultasi a,
#fiesta_galeri #fiesta_menu span.fiesta_menu_galeri a,
#fiesta_tentang #fiesta_menu span.fiesta_menu_tentang a,
#fiesta_berita #fiesta_menu span.fiesta_menu_berita a,
#fiesta_menu span:hover a
{
	color: #ffcc0c;
}

#fiesta_konsultasi_left
{
	float: left;
	width: 250px;
	font-size: 15px;
	line-height: 28px;
	position:relative;
}

.profil{
	position:absolute;
	top:-20px;
	left:-20px;
}


#fiesta_konsultasi_left p.fiesta_bersama
{
	margin-bottom: 0px;
}

#fiesta_konsultasi_left span
{
	color: #004795;
	font-size: 14px;
}

#fiesta_konsultasi_left h2
{
	margin: 0px;
	color: #004795;
	font-weight: normal;
	font-size: 31px;
	line-height: 35px;
}

#fiesta_konsultasi_left p
{
	line-height: 22px;
}

#fiesta_konsultasi_right
{
	float: right;
	width: 500px;
	font-size: 15px;
}

#fiesta_konsultasi_right table tr td, 
#fiesta_kontak_left table tr td
{
	height: 45px;
	vertical-align: middle;
}

input.fiesta_input_regis
{
	background: #fff;
	border: none;
	padding: 7px 5px;
	width: 235px;
	color: #666;
}

input.fiesta_regis_btn
{
	background: #ed1c24;
	font-family: 'Open Sans Condensed', 'Helvetica', 'Arial', sans-serif;
	color: white;
	text-decoration: none;
	font-size: 18px;
	padding: 5px;
	-webkit-border-radius: 5px;
    border-radius: 5px;
    border: none;
    width: 245px;
}

input.fiesta_input_text
{
	background: #eeeeee;
	border: none;
	padding: 13px 10px;
	width: 300px;
	-webkit-border-radius: 5px;
    border-radius: 5px;
}

textarea.fiesta_input_text
{
	background: #eeeeee;
	border: none;
	padding: 10px;
	resize: none;
	margin-bottom: 7px;
	width: 300px;
	height: 100px;
	-webkit-border-radius: 5px;
    border-radius: 5px;
}

input.fiesta_input_kontak, 
textarea.fiesta_input_kontak
{
	width: 450px;
}

input.fiesta_input_resep, 
textarea.fiesta_input_resep
{
	width: 500px;
}

ul.fiesta_recipe_list
{
	list-style: none;
}

ul.fiesta_recipe_list li
{
	margin-left: 0px;
}

ul.fiesta_star_rating
{
	margin: 0px;
	padding-left: 10px;
	padding-top: 12px;
	list_style: none;
}

ul.fiesta_star_rating li
{
	display: inline;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 100%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}
#overlay_form{
	position: absolute;
	padding: 10px;
	background:url('<%= asset_path "bg-konsul.png" %>');
	border-radius:10px;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	width: 820px;
	height: 265px;
	left:-60px;
	top:78px;
}
#pop{
	display: block;
	text-align: center;
	padding: 6px;
	border-radius: 5px;
	text-decoration: none;
	margin: 0 auto;
}
#close{
	position:absolute;
	right:20px;
	top:10px;
}
p.top_popup{
	font-size:28px;
	color:#fff;
	 font-family: 'Open Sans', 'Helvetica', 'Arial', sans-serif;
	 line-height:18px;
	 margin:20px 0px;
	 
	
}

.left_content{
	float:left;
}
.left_content ul{
	color:#fff;
	font-family: 'Open Sans Condensed', 'Helvetica', 'Arial', sans-serif;
	font-weight:bold;
	
}
.right_content{
	float:right;
	width:420px;
}
.right_content ul li{
	list-style:none;
	line-height:24px;
	
	
}
.left_content ul li{
	list-style:none;
	line-height:24px;
	
	
}
.right_content ul{
	color:#fff;
	font-family: 'Open Sans Condensed', 'Helvetica', 'Arial', sans-serif;
	font-weight:bold;
	
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   Theses examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (min-resolution: 144dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow:none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}

.fiesta_slide_inner_right_extra {

text-align: center;

}

.fiesta_slide_inner_right_extra img{

width:130px;

}

.fiesta_slide_inner_center {

position: relative;

text-align: center;

top: 24PX;

}