<section id="content">
	<% @wordpress['posts'].each do |post| %>
    	<div class="row">
        	<div class="small-12 columns">
            	<div class="image_page_wraper">
                	<h1><%= post['post_title'] %></h1>
                	<% if post['post_thumbnail'] %>
                    <div class="image_page">
						<%= image_tag post['post_thumbnail'], :class => "fiesta_berita_pic", :width => "320" %>
                    </div>
                    <% end %>
                </div>
            </div>
        </div>
        <div class="row">
        	<div class="small-12 columns">
            	<div class="blog_content"> 
            		<%= post['post_content'].html_safe %>
            	</div>
            <div class="small-12 columns">
            	<div class="fb">
					<script>(function(d, s, id) {
                      var js, fjs = d.getElementsByTagName(s)[0];
                      if (d.getElementById(id)) return;
                      js = d.createElement(s); js.id = id;
                      js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
                      fjs.parentNode.insertBefore(js, fjs);
                    }(document, 'script', 'facebook-jssdk'));</script>
            	<div class="fb-like" data-href="http://www.facebook.com/pages/Fiesta-Seafood/112121445663808?fref=ts" data-send="false" data-layout="box_count" data-width="450" data-show-faces="false"></div>
                </div>
                <div class="twit">
                	<a href="https://twitter.com/share" class="twitter-share-button" data-url="http://fiestaseafood.com" data-via="FiestaSeafood">Tweet</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
                </div>
            </div>
	<% end %>
            <div class="clear"></div>
         <div class="row">
         	<div class="large-12 columns">
            	<div class="panel box radius">
                	<div class="content_aware">
                    	<a href="http://www.facebook.com/pages/Fiesta-Seafood/112121445663808" target="_blank"><img src="/assets/mobile/fb.png"></a>
                        <a href="http://twitter.com/fiestaseafood" target="_blank"><img src="/assets/mobile/twit.png"></a>
                        <span>
                        	Copyright © 2013 Fiesta Seafood.
                        </span> 
                    </div>
                </div>
            </div>
         </div>
    </section>