<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title></title>
        <meta name="description" content="">
		
        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
        
        <script>
		  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
		
		  ga('create', 'UA-41793276-1', 'fiestaseafood.com');
		  ga('send', 'pageview');
		
		</script>
		<%= stylesheet_link_tag "http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700", "http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700,300italic" %>
		<%= stylesheet_link_tag "application" %>
        
        <%= javascript_include_tag "vendor/modernizr-2.6.1.min", :debug => true %>
        <%= javascript_include_tag "application" %>
        
        <script type="text/javascript">
        	function openBlog()
        	{	
        		document.getElementById("fiesta_decoy").style.display = "block";
        		document.getElementById("fiesta_signin_box").style.display = "none";
        		document.getElementById("fiesta_registration_box").style.display = "none";
        		document.getElementById("fiesta_blog_box").style.display = "block";
        		document.getElementById("fiesta_upload_photo").style.display = "none";
        	}

			function closeBlog()
			{
				document.getElementById("fiesta_blog_box").style.display = "none";
				document.getElementById("fiesta_decoy").style.display = "none";
			}
			
        	function openSignin()
        	{
        		document.getElementById("fiesta_registration_box").style.display = "none";
        		document.getElementById("fiesta_signin_box").style.display = "block";
        		document.getElementById("fiesta_upload_photo").style.display = "none";
        		return false;
        	}
        	
        	function closeSignin()
        	{
        		document.getElementById("fiesta_signin_box").style.display = "none";
        		return false;
        	}
        	
        	function openRegister()
        	{
        		document.getElementById("fiesta_signin_box").style.display = "none";
        		document.getElementById("fiesta_registration_box").style.display = "block";
        		document.getElementById("fiesta_upload_photo").style.display = "none";
        		return false;
        	}
        	
        	function closeRegister()
        	{
        		document.getElementById("fiesta_registration_box").style.display = "none";
        		return false;
        	}
        	
        	function openUpload()
        	{
        		document.getElementById("fiesta_upload_photo").style.display = "block";
        		document.getElementById("fiesta_blog_box").style.display = "none";
				document.getElementById("fiesta_registration_box").style.display = "none";
				document.getElementById("fiesta_signin_box").style.display = "none";
        		return false;
        	}
        	
        	function closeUpload()
        	{
        		document.getElementById("fiesta_upload_photo").style.display = "none";
        		return false;
        	}
        </script>
        
        <%= csrf_meta_tags %>
    </head>
    <body id="<%= @bodyid %>">
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
        <![endif]-->

        <!-- Add your site or application content here -->
        <div id="fiesta_header">
    		<div id="fiesta_logo"><%= link_to (image_tag "fiesta_logo.png"), root_path %></div>
    		<div id="fiesta_socmed">
    			<span class="fiesta_socmed_btn"><a href="http://www.facebook.com/pages/Fiesta-Seafood/112121445663808" target="_blank"><%= image_tag "fiesta_fb_trans.png" %></a></span>
    			<span class="fiesta_socmed_btn"><a href="http://twitter.com/fiestaseafood" target="_blank"><%= image_tag "fiesta_tw_trans.png" %></a></span>
    			<span class="fiesta_socmed_btn"><a href="mailto:info@fiestaseafood.com"><%= image_tag "fiesta_em_trans.png" %></a></span>
    			<span class="fiesta_text_btn"><a href="http://blog.fiestaseafood.com" onmouseover="openBlog()">BLOG <%= image_tag "fiesta_triangle.png", :class => "fiesta_triangle" %></a></span>
    			<% unless user_signed_in? %> 
    			<span class="fiesta_text_btn"><a href="#" onclick="openSignin()">SIGN IN</a> / <a href="#" onclick="openRegister()">REGISTER <%= image_tag "fiesta_triangle.png", :class => "fiesta_triangle" %></a></span>
    			<% else %>
    			<span class="fiesta_text_btn"><%= current_user.name.upcase %> / <%= link_to "SIGN OUT".html_safe, destroy_user_session_path, :method => :delete %></span>
    			<% end %>
    		</div>
    		<%= render "shared/signin" %>
    		<%= render "shared/registration" %>
    		<%= render "shared/gallery_form" %>
    		<%= render "shared/blog_box" %>
        </div>
        
        <div id="fiesta_decoy" onmouseover="closeBlog()"></div>
        
    	<div id="fiesta_left_side">
        	<div id="fiesta_menu">
        		<%= link_to '<span class="fiesta_menu_produk">PRODUK</span>'.html_safe, produk_index_path %>
        		<%= link_to '<span class="fiesta_menu_tentang">TENTANG</span>'.html_safe, about_index_path %>
        		<%= link_to '<span class="fiesta_menu_galeri">GALERI</span>'.html_safe, gallery_index_path %>
        		<%= link_to '<span class="fiesta_menu_resep">RESEP</span>'.html_safe, recipes_path %>
        		<%= link_to '<span class="fiesta_menu_berita">BERITA</span>'.html_safe, berita_path %>
        		<%= link_to '<span class="fiesta_menu_kontak">KONTAK</span>'.html_safe, contact_path %>
        	</div>
        	
        	<div id="fiesta_faq"><a href="<%= faq_index_path %>" class="fiesta_faq">&nbsp;&nbsp;<strong>F.A.Q</strong></a></div>
        	<div id="fiesta_copyright">&copy; 2013 Fiesta Seafood</div>
    	</div>
    	
    	<%= yield %>
        
        <%= javascript_include_tag "plugins", :debug => true %>
        <%= javascript_include_tag "main", :debug => true %>

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script type="text/javascript">
        	
			$(document).ready(function() {
			        <!--bian function autoplay---->
					function autoplay()
			        {
			           var item_width = $('#fiesta_main_slide_boxes li').outerWidth() + 10;
			            var left_indent = parseInt($('#fiesta_main_slide_boxes').css('left')) - item_width;
			            
			            $('#fiesta_main_slide_boxes:not(:animated)').animate({'left' : left_indent},500,function(){    
			                $('#fiesta_main_slide_boxes li:last').after($('#fiesta_main_slide_boxes li:first')); 
			                $('#fiesta_main_slide_boxes').css({'left' : '-275px'});
			            }); 
			        }

			        setInterval(function(){autoplay()},4000);
				<!--end off function autoplay-->	
					
				
			        $('#fiesta_blog_slide_boxes li:first').before($('#fiesta_blog_slide_boxes li:last')); 
			        
			        $('#fiesta_blog_arrow_right').click(function(){
			            var item_width = $('#fiesta_blog_slide_boxes li').outerWidth() + 10;
			            var left_indent = parseInt($('#fiesta_blog_slide_boxes').css('left')) - item_width;
			            
			            $('#fiesta_blog_slide_boxes:not(:animated)').animate({'left' : left_indent},500,function(){    
			                $('#fiesta_blog_slide_boxes li:last').after($('#fiesta_blog_slide_boxes li:first')); 
			                $('#fiesta_blog_slide_boxes').css({'left' : '-200px'});
			            }); 
			        });
			        
			        $('#fiesta_blog_arrow_left').click(function(){
			            var item_width = $('#fiesta_blog_slide_boxes li').outerWidth() + 10;
			            var left_indent = parseInt($('#fiesta_blog_slide_boxes').css('left')) + item_width;
			            
			            $('#fiesta_blog_slide_boxes:not(:animated)').animate({'left' : left_indent},500,function(){    
				            $('#fiesta_blog_slide_boxes li:first').before($('#fiesta_blog_slide_boxes li:last')); 
			            	$('#fiesta_blog_slide_boxes').css({'left' : '-200px'});
			            });
			            
			        });
			        
			        $('#fiesta_main_slide_boxes li:first').before($('#fiesta_main_slide_boxes li:last')); 
			        
			        $('#fiesta_arrow_left').click(function(){
			            var item_width = $('#fiesta_main_slide_boxes li').outerWidth() + 10;
			            var left_indent = parseInt($('#fiesta_main_slide_boxes').css('left')) - item_width;
			            
			            $('#fiesta_main_slide_boxes:not(:animated)').animate({'left' : left_indent},500,function(){    
			                $('#fiesta_main_slide_boxes li:last').after($('#fiesta_main_slide_boxes li:first')); 
			                $('#fiesta_main_slide_boxes').css({'left' : '-275px'});
			            }); 
			        });
			        
			        $('#fiesta_arrow_right').click(function(){
			            var item_width = $('#fiesta_main_slide_boxes li').outerWidth() + 10;
			            var left_indent = parseInt($('#fiesta_main_slide_boxes').css('left')) + item_width;
			            
			            $('#fiesta_main_slide_boxes:not(:animated)').animate({'left' : left_indent},500,function(){    
				            $('#fiesta_main_slide_boxes li:first').before($('#fiesta_main_slide_boxes li:last')); 
			            	$('#fiesta_main_slide_boxes').css({'left' : '-275px'});
			            });
			            
			        });
			  });
        </script>
    </body>
</html>